<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.ac.collage_api.account.mapper.AccountMapper">

	<!-- //계정아이디로 교수 아이디 가져오기 public String getProfsrNo(String acntId); -->
	<select id="getProfsrNo" parameterType="String"
		resultType="String">
		SELECT P.PROFSR_NO
		FROM PROFSR P
		JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
		WHERE S.ACNT_ID = #{acntId}
	</select>


	<!-- //대학 코드 이름 가져오기 public UnivVO selectUnivCNinfo(); -->

	<select id="selectUnivCNinfo" resultType="UnivVO">
		SELECT UNIV_CODE, UNIV_NM
		FROM UNIV
	</select>

	<!-- //학과코드에 맞는 대학 코드, 이름 가져오기 public List<SubjctVO> selectSubjctCNinfo(String 
		univCode); -->

	<select id="selectSubjctCNinfo" parameterType="string"
		resultType="SubjctVO">

		SELECT SUBJCT_NM, SUBJCT_CODE
		FROM SUBJCT
		WHERE UNIV_CODE = #{univCode}
	</select>

	<!-- //학번 뒤에 붙일 3자리 시퀀스 찾기 public String findStdntSeq(String stdntFrontNo); -->

	<select id="findStdntSeq" parameterType="string"
		resultType="string">
		SELECT NVL(MAX(STDNT_NO),0)
		FROM STDNT
		WHERE STDNT_NO like #{stdntFrontNo} || '___'
	</select>

	<!-- //계정생성 public void insertAcnt(AcntVO acntVO); -->

	<insert id="insertAcnt" parameterType="acntVO">
		INSERT INTO ACNT (ACNT_ID,
		PASSWORD, ACNT_TY)
		VALUES(#{acntId},#{password},#{acntTy})
	</insert>

	<!-- //학생계정생성 public void insertStdAccount(StdntVO stdntVO); -->

	<insert id="insertStdAccount" parameterType="stdntVO">
		INSERT INTO STDNT
		(STDNT_NO, ACNT_ID, SUBJCT_CODE, STDNT_NM, BRTHDY
		, BASS_ADRES, DETAIL_ADRES, ZIP, CTTPC, EMGNC_CTTPC
		, GRADE, SKNRGS_STTUS, ENTSCH_DE, BANK_NM
		, ACNUTNO, LAST_UPDATED_TIME)
		VALUES(#{stdntNo},
		#{acntId},#{subjctCode},#{stdntNm},#{brthdy}
		,#{bassAdres},#{detailAdres},#{zip},#{cttpc},#{emgncCttpc}
		,#{grade},#{sknrgsSttus},#{entschDe},#{bankNm}
		,#{acnutno},SYSDATE)
	</insert>

	<!-- //권한 생성 계정 public int insertAuthor(AuthorVO authorVO); -->
	<insert id="insertAuthor" parameterType="authorVO">
		<selectKey resultType="string" order="BEFORE"
			keyProperty="authorId">
			SELECT NVL(TO_CHAR(MAX(TO_NUMBER(AUTHOR_ID))+1), 0)
			FROM
			AUTHOR
		</selectKey>
		INSERT INTO AUTHOR (ALWNC_DE, AUTHOR_ID, AUTHOR_NM, AUTHOR_DC,
		ACNT_ID)
		VALUES (
		SYSDATE,#{authorId},#{authorNm},#{authorDc},#{acntId})
	</insert>

	<!-- //검색 키워드로 학번, 학생이름 찾기 public List<StdntVO> selectStdntInfo(String keyword); -->

	<select id="selectStdntInfo" parameterType="string"
		resultType="stdntVO">
		SELECT STDNT_NO, STDNT_NM, BRTHDY, CTTPC
		FROM STDNT
		WHERE
		STDNT_NO LIKE '%' || #{keyword} || '%'
		OR STDNT_NM LIKE '%' || #{keyword} || '%'
	</select>

	<!-- //학번으로 stdntVO 한행 읽어오기 public List<StdntVO> selectOneStdntInfo(String 
		stdntNo); -->
	<select id="selectOneStdntInfo" parameterType="string"
		resultType="stdntVO">
		SELECT S.STDNT_NO, S.ACNT_ID, S.SUBJCT_CODE, S.STDNT_NM,
		S.BRTHDY
		, S.BASS_ADRES,S. DETAIL_ADRES, S.ZIP, S.CTTPC, S.EMGNC_CTTPC
		, S.GRADE, S.SKNRGS_STTUS, S.ENTSCH_DE, S.GRDTN_DE, S.BANK_NM
		,
		S.ACNUTNO, S.LAST_UPDATED_TIME, J.UNIV_CODE
		FROM STDNT S
		JOIN SUBJCT J ON S.SUBJCT_CODE = J.SUBJCT_CODE
		WHERE S.STDNT_NO =
		#{stdntNo}
	</select>

	<!-- //학생(stdnt 테이블) 업데이트 public int updateStdAccount(StdntVO stdntVO); -->

	<update id="updateStdAccount" parameterType="stdntVO">
		UPDATE STDNT
		SET
		SUBJCT_CODE = #{subjctCode}
		, STDNT_NM = #{stdntNm}
		, BRTHDY = #{brthdy}
		, BASS_ADRES = #{bassAdres}
		, DETAIL_ADRES = #{detailAdres}
		, ZIP =
		#{zip}
		, CTTPC = #{cttpc}
		, EMGNC_CTTPC = #{emgncCttpc}
		, GRADE = #{grade}
		, ENTSCH_DE = #{entschDe}
		, GRDTN_DE = #{grdtnDe}
		,
		BANK_NM = #{bankNm}
		, ACNUTNO = #{acnutno}
		WHERE STDNT_NO = #{stdntNo}
	</update>


	<!--//파일 그룹 생성 public int insertFileGroup(FileGroupVO fileGroupVO); -->
	<insert id="insertFileGroup" parameterType="fileGroupVO">
		<selectKey resultType="long" order="BEFORE"
			keyProperty="fileGroupNo">
			SELECT
			NVL(MAX(FILE_GROUP_NO), TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) * 1000) + 1
			FROM
			FILE_GROUP
			WHERE
			FILE_GROUP_NO >= TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD')) * 1000
		</selectKey>
		INSERT INTO FILE_GROUP (FILE_GROUP_NO, FILE_REGIST_DE)
		VALUES
		(#{fileGroupNo},SYSDATE)
	</insert>

	<!-- //파일 디테일 생성 public int insertFileDetail(FileDetailVO fileDetailVO); -->
	<insert id="insertFileDetail" parameterType="fileDetailVO">
		<selectKey resultType="int" order="BEFORE"
			keyProperty="fileNo">
			SELECT NVL(MAX(FILE_NO),0)+1
			FROM FILE_DETAIL
			WHERE FILE_GROUP_NO = #{fileGroupNo}
		</selectKey>
		INSERT INTO FILE_DETAIL
		(FILE_NO, FILE_GROUP_NO, FILE_NM, FILE_STRE_NM, FILE_STREPLACE
		, FILE_MG, FILE_EXTSN, FILE_TY, FILE_STRE_DE, FILE_DWLD_CO)
		VALUES(#{fileNo},#{fileGroupNo},#{fileNm},#{fileStreNm},#{fileStreplace}
		,#{fileMg},#{fileExtsn},#{fileTy},SYSDATE,#{fileDwldCo})
	</insert>

	<!-- 파일 다운로드 -->
	<select id="getFileDetailByGroupNo" parameterType="Long"
		resultType="FileDetailVO">
		SELECT
		FILE_NO
		,FILE_GROUP_NO
		,FILE_NM
		,FILE_STRE_NM
		,FILE_STREPLACE
		,FILE_MG
		,FILE_EXTSN
		,FILE_TY
		,FILE_STRE_DE
		,FILE_DWLD_CO
		FROM
		FILE_DETAIL
		WHERE
		FILE_GROUP_NO = #{fileGroupNo}
		AND ROWNUM = 1
	</select>
</mapper>












