<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.account.mapper.AccountMapper">
	<!-- //계정아이디로 교수 아이디 가져오기
	public String getProfsrNo(String acntId); -->
	<select id="getProfsrNo" parameterType="String" resultType="String">
	 SELECT P.PROFSR_NO 
	   FROM PROFSR P
	  	JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
	  WHERE S.ACNT_ID = #{acntId}
	</select>

	<!-- 계정 아이디로 학생 아이디 가져오기
	public String selectStdntNo(String acntId); -->
	
	<select id="selectStdntNo" parameterType="String" resultType="String" >
		SELECT S.STDNT_NO
		  FROM STDNT S
		  JOIN ACNT A ON A.ACNT_ID = S.ACNT_ID
		 WHERE S.ACNT_ID = #{acntId}
	</select>






</mapper>












