<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.admin.mapper.BbsNoticeMapper">

	<!-- 조건식 : keyword가 제목이나 내용에 있으면~ -->
	<sql id="where">
		<if test="keyword!=null and keyword!=''">
			AND (BBSCTT_SJ LIKE '%' || #{keyword} || '%'
				 OR BBSCTT_CN LIKE '%' || #{keyword} || '%')
		</if>

	</sql>

	<!-- //list 총 페이지 가져오기
	public int getTotal(Map<String, Object> map); -->
	<select id="getTotal" parameterType="HashMap" resultType="int">
	 	SELECT COUNT(*)
	 	FROM BBS_CTT
	 	WHERE 1=1
	 		AND BBS_CODE = 1 <!-- 1:공지사항 게시판  -->
	 		<include refid="where"></include>  	<!-- keyword 있으면 제목, 내용에서 키워드를 품고 있는 글만 셈 -->
	</select>

	<!-- //현재 페이지 목록만 가져오기
	public List<BbsVO> list(Map<String, Object> map); -->
	<select id="list" parameterType="HashMap" resultType="bbsCttVO">
		WITH T AS (
			SELECT ROWNUM RNUM
				   , B.BBSCTT_NO, B.BBSCTT_SJ, B.BBSCTT_CN, B.BBSCTT_WRITNG_DE, B.BBSCTT_RDCNT
				   , B.BBS_CODE, B.PARNTS_BBSCTT_NO, B.FILE_GROUP_NO, B.ACNT_ID, S.SKLSTF_NM
			FROM BBS_CTT B
			 JOIN SKLSTF S ON S.ACNT_ID = B.ACNT_ID
			WHERE 1=1
			<include refid="where"></include>
		)

		SELECT * FROM T
		WHERE T.RNUM BETWEEN (#{currentPage}*10) - (10-1) AND (#{currentPage}*10)

	</select>

	<!-- 	//글 번호 하나로 게시글 상세페이지 가져오기
	public BbsVO detail(int bbscttNo); -->

	<select id="detail" parameterType="int" resultType="bbsCttVO">
	SELECT B.BBSCTT_NO, B.BBSCTT_SJ, B.BBSCTT_CN, B.BBSCTT_WRITNG_DE, B.BBSCTT_RDCNT
		   , B.BBS_CODE, B.PARNTS_BBSCTT_NO, B.FILE_GROUP_NO, B.ACNT_ID, S.SKLSTF_NM
	FROM BBS_CTT B
		JOIN SKLSTF S ON S.ACNT_ID = B.ACNT_ID
	WHERE BBSCTT_NO = #{bbscttNo}
	</select>

	<!-- //게시글 삭제
	public int delete(int bbscttNo); -->
	<delete id="delete" parameterType="int">
	DELETE FROM BBS_CTT WHERE BBSCTT_NO = #{bbscttNo}

	</delete>

	<!-- //학생, 교수 게시판에서 클릭시 조회수 올라가기
	public void updateCount(int bbscttNo); -->

	<update id="updateCount" parameterType="int">
	UPDATE BBS_CTT
	SET BBSCTT_RDCNT = BBSCTT_RDCNT+1
	WHERE BBSCTT_NO = #{bbscttNo}
	</update>









	<!--
	****************************

	 여기 이하는 ADMIN 에서 쓸꺼

	***************************
	-->

	<!-- //관리자 - 공지사항게시판 리스트 가져오기
	public List<BbsVO> adminList(); -->

	<select id="adminList" resultType="bbsCttVO">
	SELECT
		BBSCTT_NO, ACNT_ID, PARNTS_BBSCTT_NO, FILE_GROUP_NO, BBSCTT_SJ
	  , BBSCTT_CN, BBSCTT_WRITNG_DE, BBSCTT_RDCNT, BBS_CODE
	FROM BBS_CTT
	ORDER BY BBSCTT_NO DESC
	</select>




	<!-- //관리자 - 공지사항 게시판 1행 삭제
	public int adminDeleteDetail(int bbscttNo);
	 -->
	<delete id="adminDeleteDetail" parameterType="int">
	DELETE FROM BBS_CTT
	WHERE BBSCTT_NO = #{bbscttNo}

	</delete>


	<!-- //관리자 - 공지사항 게시판 1행 등록
	public int adminPostDetail(BbsVO bbsVO); -->
	<insert id="adminPostDetail" parameterType="bbsCttVO">
		<selectKey resultType="int" order="BEFORE" keyProperty="bbscttNo" >
			SELECT NVL(MAX(BBSCTT_NO),0) + 1 FROM BBS_CTT
		</selectKey>
	INSERT INTO BBS_CTT (BBSCTT_NO, ACNT_ID, BBSCTT_SJ, BBSCTT_CN, BBSCTT_WRITNG_DE, BBSCTT_RDCNT, BBS_CODE
	,FILE_GROUP_NO
	)
	VALUES(#{bbscttNo},#{acntId},#{bbscttSj},#{bbscttCn},SYSDATE,0,'1'
	,#{fileGroupNo}
	)
	</insert>



	<!-- 	//관리자 - 공지사항 상세화면 bbs1행 가져오기
	public BbsVO adminDetail(BbsVO bbsVO); -->

	<select id="adminDetail" parameterType="int" resultType="bbsCttVO">

	SELECT BBSCTT_NO, ACNT_ID, PARNTS_BBSCTT_NO, FILE_GROUP_NO, BBSCTT_SJ
		, BBSCTT_CN, BBSCTT_WRITNG_DE, BBSCTT_RDCNT, BBS_CODE
		FROM BBS_CTT
		WHERE BBSCTT_NO = #{bbscttNo}
	</select>

	<!--
	** 여기서부터는 어드민 수정부분!!

	 -->


	<!-- 	//파일 디테일에서 deletedFileSns 삭제하기
	public int deleteFileDetail(
				@Param("fileNo")List<Integer> deletedFileSns,
				@Param("fileGroupNo") Long fileGroupNo);
	 -->

	<delete id="deleteFileDetail" >
		DELETE FROM FILE_DETAIL
		WHERE 1=1
		AND FILE_GROUP_NO = #{fileGroupNo}
		AND FILE_NO IN
		<foreach collection="fileNo" item="fileNo" open="(" separator="," close=")">
			#{fileNo}
		</foreach>

	</delete>

	<!-- 	//파일 디테일 테이블에서 파일 그룹에 맞는 seq 최대값 찾기
	public int selectFileDetailMaxSeq(Long fileGroupNo); -->

	<select id="selectFileDetailMaxSeq" parameterType="Long">
		SELECT NVL(MAX(FILE_NO),0)
		FROM FILE_DETAIL
		WHERE FILE_GROUP_NO = #{fileGroupNo}
	</select>


	<!-- //관리자 - 공지사항게시판 수정
	public int adminPutDetail(BbsVO bbsVO); -->

	<update id="adminPutDetail" parameterType="bbsCttVO">
	UPDATE BBS_CTT
	SET BBSCTT_SJ = #{bbscttSj}, BBSCTT_CN = #{bbscttCn},FILE_GROUP_NO=#{fileGroupNo}
	WHERE BBSCTT_NO = #{bbscttNo}
	</update>








</mapper>