<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.collage_api.chatbot.mapper.ChatBotMapper">

    <select id="getUserDt" parameterType="string" resultType="kr.ac.collage_api.vo.AcntVO">
        SELECT 
            ACNT_ID 
            ,ACNT_TY
        FROM ACNT
        WHERE ACNT_ID = #{acntId}
    </select>
    
    <select id="getStudentSbjScore" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            A.SBJECT_SCRE_INNB
            ,A.SEMSTR_SCRE_INNB
            ,A.ATNLC_REQST_NO
            ,A.PNT_GRAD
            ,A.ACQS_PNT
            ,A.ATEND_SCORE
            ,A.TASK_SCORE
            ,A.MIDDLE_SCORE
            ,A.TRMEND_SCORE
            ,A.SBJECT_TOTPOINT
            ,A.AVRG_SCORE
            ,B.STDNT_NO
            ,D.LCTRE_NM AS SUBJCT_NM FROM SBJECT_SCRE A
        JOIN SEMSTR_SCRE B ON A.SEMSTR_SCRE_INNB = B.SEMSTR_SCRE_INNB
        JOIN ATNLC_REQST C ON A.ATNLC_REQST_NO = C.ATNLC_REQST_NO
        JOIN ESTBL_COURSE E ON C.ESTBLLCTRE_CODE = E.ESTBLLCTRE_CODE
        JOIN ALL_COURSE D ON E.LCTRE_CODE = D.LCTRE_CODE
       WHERE B.STDNT_NO = #{stdntNo}
    </select>

    <select id="getStudentAtnlc" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            A.ATNLC_REQST_NO
            ,A.STDNT_NO
            ,A.ESTBLLCTRE_CODE
            ,A.REQST_YEAR
            ,A.REQST_SEMSTR
            ,A.REQST_STTUS
            ,A.REQST_DE
            ,A.RECENT_UPDT_DT
            ,B.PROFSR_NO
            ,B.FILE_GROUP_NO
            ,B.ACQS_PNT
            ,B.LCTRUM
            ,B.COMPL_SE
            ,B.ATNLC_NMPR
            ,B.EVL_MTHD
            ,B.ESTBL_YEAR
            ,B.ESTBL_SEMSTR
            ,C.LCTRE_CODE
            ,C.LCTRE_NM
        FROM ATNLC_REQST A
        JOIN ESTBL_COURSE B
          ON A.ESTBLLCTRE_CODE = B.ESTBLLCTRE_CODE
        JOIN ALL_COURSE C
          ON B.LCTRE_CODE = C.LCTRE_CODE
       WHERE A.STDNT_NO = #{stdntNo}
    </select>

    <select id="getAllPnt" resultType="int">
        SELECT NVL(SUM(TOT_ACQS_PNT), 0)
        FROM SEMSTR_SCRE
        WHERE STDNT_NO = #{stdntNo}             
    </select>
    
    <select id="getStudentInfo" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT 
            A.STDNT_NO
            ,A.ACNT_ID
            ,A.SUBJCT_CODE
            ,A.STDNT_NM
            ,A.BRTHDY
            ,A.BASS_ADRES
            ,A.DETAIL_ADRES
            ,A.ZIP
            ,A.CTTPC
            ,A.EMGNC_CTTPC
            ,A.GRADE
            ,A.SKNRGS_STTUS
            ,A.ENTSCH_DE
            ,A.GRDTN_DE
            ,A.BANK_NM
            ,A.ACNUTNO
            ,A.LAST_UPDATED_TIME
            ,B.SUBJCT_NM
        FROM STDNT A
        LEFT JOIN SUBJCT B ON A.SUBJCT_CODE = B.SUBJCT_CODE
        WHERE A.STDNT_NO = #{stdntNo}
    </select>

    <select id="getConsult" resultType="map">
        SELECT 
           A.CNSLT_REQST_INNB
           ,A.CNSLT_INNB
           ,A.STDNT_NO
           ,A.REQST_DE
           ,A.CNSLT_STTUS
           ,A.CNSLT_REQUST_CN
           ,A.CANCL_REASON
           ,D.SKLSTF_NM AS profsrNm
        FROM CNSLT_REQST A
        LEFT JOIN CNSLT_AT B ON A.CNSLT_INNB = B.CNSLT_INNB
        LEFT JOIN PROFSR C ON B.PROFSR_NO = C.PROFSR_NO
        LEFT JOIN SKLSTF D ON C.SKLSTF_ID = D.SKLSTF_ID
        WHERE A.STDNT_NO = #{stdntNo}
        ORDER BY A.REQST_DE DESC
    </select>
    
    <select id="getSubjectCompletions" resultType="map">
        SELECT
             C.COMPL_SE
             ,D.LCTRE_NM
             ,D.SUBJCT_CODE
             ,C.ACQS_PNT
        FROM SBJECT_SCRE A
        JOIN ATNLC_REQST B ON A.ATNLC_REQST_NO = B.ATNLC_REQST_NO
        JOIN ESTBL_COURSE C ON B.ESTBLLCTRE_CODE = C.ESTBLLCTRE_CODE
        JOIN ALL_COURSE D ON C.LCTRE_CODE = D.LCTRE_CODE
        WHERE B.STDNT_NO = #{stdntNo}
          AND A.PNT_GRAD != 'F'
    </select>

    <select id="getCumulativeGpa" resultType="double">
        SELECT 
            NVL(
                CASE 
                    WHEN SUM(TOT_ACQS_PNT) = 0 THEN 0 
                    ELSE SUM(PNT_AVRG * TOT_ACQS_PNT) / SUM(TOT_ACQS_PNT) 
                END
            , 0) AS totalGpa
        FROM SEMSTR_SCRE
        WHERE STDNT_NO = #{stdntNo}
    </select>

    <select id="getStudentTimetable" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            C.LCTRE_NM
            ,B.LCTRUM
            ,D.LCTRE_DFK
            ,D.BEGIN_TM
            ,D.END_TM
        FROM ATNLC_REQST A
        JOIN ESTBL_COURSE B ON A.ESTBLLCTRE_CODE = B.ESTBLLCTRE_CODE
        JOIN ALL_COURSE C ON B.LCTRE_CODE = C.LCTRE_CODE
        JOIN LCTRE_TIMETABLE D ON B.ESTBLLCTRE_CODE = D.ESTBLLCTRE_CODE
        WHERE A.STDNT_NO = #{stdntNo}
        ORDER BY
            CASE D.LCTRE_DFK
                WHEN '월' THEN 1 WHEN '화' THEN 2 WHEN '수' THEN 3
                WHEN '목' THEN 4 WHEN '금' THEN 5 ELSE 6
            END,
            D.BEGIN_TM
    </select>

    <select id="getStudentPayInfo" resultType="map">
        SELECT
            PAY_GLD
            ,SCHLSHIP
            ,PAY_STTUS
            ,PAY_DE
        FROM PAY_INFO
        WHERE STDNT_NO = #{stdntNo}
        ORDER BY PAY_DE DESC
    </select>

    <select id="getStudentAttendance" resultType="map">
        SELECT
            D.LCTRE_NM
            ,A.ATEND_STTUS_CODE
            ,B.WEEK
        FROM ATEND_ABSNC A
        JOIN WEEK_ACCTO_LRN B ON A.WEEK_ACCTO_LRN_NO = B.WEEK_ACCTO_LRN_NO
        JOIN ESTBL_COURSE C ON B.ESTBLLCTRE_CODE = C.ESTBLLCTRE_CODE
        JOIN ALL_COURSE D ON C.LCTRE_CODE = D.LCTRE_CODE
        WHERE A.STDNT_NO = #{stdntNo}
        ORDER BY B.WEEK DESC
    </select>

    <select id="getStudentChangeHistory" resultType="map">
        SELECT
            CHANGE_TY
            ,REQST_STTUS
            ,CHANGE_REQST_DT
        FROM SKNRGS_CHANGE_REQST
        WHERE STDNT_NO = #{stdntNo}
        ORDER BY CHANGE_REQST_DT DESC
    </select>

    <select id="getProfessorLectureList" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            A.LCTRE_NM
            ,B.ESTBL_YEAR
            ,B.ESTBL_SEMSTR
            ,B.COMPL_SE
            ,B.EVL_MTHD
            ,B.ATNLC_NMPR
        FROM ALL_COURSE A
        JOIN ESTBL_COURSE B
          ON A.LCTRE_CODE = B.LCTRE_CODE
        WHERE B.PROFSR_NO = #{profsrNo}
    </select>

    <select id="getProfessorCounselList" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            A.CNSLT_INNB
            ,A.CNSLT_REQUST_DE
            ,A.CNSLT_REQUST_HOUR
            ,A.CNSLT_REQUST_CN
            ,A.REQST_DE
            ,A.STTUS
            ,A.CNSLT_MTHD
            ,A.CANCL_REASON
            ,A.CNSLT_RESULT
            ,A.PROFSR_NO
            ,A.STDNT_NO
            ,B.STDNT_NM
        FROM CNSLT A
        JOIN STDNT B
          ON A.STDNT_NO = B.STDNT_NO
        WHERE A.PROFSR_NO = #{profsrNo}
          AND A.STTUS = '2'
    </select>

    <select id="getProfWeekAcctoLrn" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            A.WEEK_ACCTO_LRN_NO
            ,A.ESTBLLCTRE_CODE
            ,A.WEEK
            ,A.TASK_AT
            ,A.LRN_THEMA
            ,A.LRN_CN
            ,A.QUIZ_AT
            ,B.TASK_NO
            ,B.TASK_SJ
            ,B.TASK_CN
            ,B.TASK_BEGIN_DE
            ,B.TASK_CLOS_DE
            ,C.TASK_PRESENTN_NO
            ,C.STDNT_NO
            ,C.PRESENTN_AT
        FROM WEEK_ACCTO_LRN A
        JOIN TASK B
          ON A.WEEK_ACCTO_LRN_NO = B.WEEK_ACCTO_LRN_NO
        JOIN TASK_PRESENTN C
          ON B.TASK_NO = C.TASK_NO
        JOIN ESTBL_COURSE EC
          ON A.ESTBLLCTRE_CODE = EC.ESTBLLCTRE_CODE
        WHERE EC.PROFSR_NO = #{profsrNo}
    </select>

    <select id="getProfLctreTime" resultType="kr.ac.collage_api.chatbot.vo.ChatBotVO">
        SELECT
            A.ESTBLLCTRE_CODE
            ,A.PROFSR_NO
            ,A.ACQS_PNT
            ,A.LCTRUM
            ,A.COMPL_SE
            ,A.ATNLC_NMPR
            ,A.EVL_MTHD
            ,A.ESTBL_YEAR
            ,A.ESTBL_SEMSTR
            ,B.LCTRE_CODE
            ,B.LCTRE_NM
            ,B.OPER_AT
            ,C.TIMETABLE_NO
            ,C.LCTRE_DFK
            ,C.BEGIN_TM
            ,C.END_TM
        FROM ESTBL_COURSE A
        JOIN ALL_COURSE B
          ON A.LCTRE_CODE = B.LCTRE_CODE
        JOIN LCTRE_TIMETABLE C
          ON A.ESTBLLCTRE_CODE = C.ESTBLLCTRE_CODE
        WHERE A.PROFSR_NO = #{profsrNo}
        ORDER BY
            CASE C.LCTRE_DFK
                WHEN '월' THEN 1 WHEN '화' THEN 2 WHEN '수' THEN 3
                WHEN '목' THEN 4 WHEN '금' THEN 5 ELSE 6
            END,
            C.BEGIN_TM
    </select>

</mapper>