<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.collage_api.chatbot.mapper.ChatBotMapper">

    <!-- 사용자 기본정보 조회 -->
    <select id="getUserDt" parameterType="string" resultType="kr.ac.collage_api.vo.AcntVO">
        SELECT 
            ACNT_ID 
            ,ACNT_TY
        FROM ACNT
        WHERE ACNT_ID = #{acntId}
    </select>
    
	<!-- 학생쪽 -->
	<select id="getStudentSbjScore" resultType="kr.ac.collage_api.vo.SbjectScreVO">
		SELECT
			A.SBJECT_SCRE_INNB
			,A.SEMSTR_SCRE_INNB
			,A.ATNLC_REQST_NO
			,A.PNT_GRAD, ACQS_PNT
			,A.ATEND_SCORE
			,A.TASK_SCORE
			,A.MIDDLE_SCORE
			,A.TRMEND_SCORE
			,A.SBJECT_TOTPOINT
			,A.AVRG_SCORE
			,B.STDNT_NO
		FROM SBJECT_SCRE A
		JOIN SEMSTR_SCRE B
		  ON A.SEMSTR_SCRE_INNB = B.SEMSTR_SCRE_INNB
	   WHERE B.STDNT_NO = #{stdntNo}
	</select>
	
	<!-- 교수쪽 -->
	<select id="getProfessorLectureList" resultType="kr.ac.collage_api.vo.EstblCourseVO">
		SELECT
			A.LCTRE_NM
			,B.ESTBL_YEAR
			,B.ESTBL_SEMSTR
			,B.COMPL_SE
			,B.EVL_MTHD
			,B.ATNLC_NMPR
	    FROM ALL_COURSE A
	    JOIN ESTBL_COURSE B
	      ON A.LCTRE_CODE = B.LCTRE_CODE
	    WHERE B.PROFSR_NO = #{profsrNo}
	</select>
	
	<select id="getProfessorCounselList" resultType="kr.ac.collage_api.vo.CnsltVO">
		SELECT
			A.CNSLT_INNB
			,A.CNSLT_REQUST_DE
			,A.CNSLT_REQUST_HOUR
			,A.CNSLT_REQUST_CN
			,A.REQST_DE
			,A.STTUS
			,A.CNSLT_MTHD
			,A.CANCL_REASON
			,A.CNSLT_RESULT
			,A.PROFSR_NO
			,A.STDNT_NO
			,B.STDNT_NM
		  FROM CNSLT A
		  JOIN STDNT B
		    ON A.STDNT_NO = B.STDNT_NO
		 WHERE PROFSR_NO = #{profsrNo}
		  AND STTUS = '2'
	</select>

</mapper>
