<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.counsel.mapper.CounselProfMapper">
		
	<!-- //계정아이디로 교수번호 가져오기
	public String getProfsrNo(String acntId); -->
	
	<select id="getProfsrNo" parameterType="String" resultType="String">
		SELECT P.PROFSR_NO
		FROM SKLSTF S
		    JOIN PROFSR P ON S.SKLSTF_ID = P.SKLSTF_ID
		WHERE S.ACNT_ID = #{acntId}
	</select>	
		
		
		
	<!-- 조건식 : keyword가 제목이나 내용에 있으면~ -->
	<sql id="where">
		<if test="keyword!=null and keyword!=''">
			AND (STTUS LIKE '%' || #{keyword} || '%')
		</if>
		
	</sql>

	<!-- //list 총 페이지 가져오기
	public int getTotal(Map<String, Object> map); -->
	<select id="getTotal" parameterType="HashMap" resultType="int">
	 	SELECT COUNT(*)
	 	FROM CNSLT
	 	WHERE 1=1
	 	AND PROFSR_NO = #{profsrNo}
	 		<include refid="where"></include>  	<!-- keyword 있으면 제목, 내용에서 키워드를 품고 있는 글만 셈 -->
	</select>
	
	<!-- //현재 페이지 목록만 가져오기
	public List<CnsltVO> list(Map<String, Object> map); -->
	
	<select id="list" parameterType="HashMap" resultType="cnsltVO">
		WITH T AS (
			SELECT 
				   CNSLT_INNB, CNSLT_REQUST_DE, CNSLT_REQUST_HOUR, CNSLT_REQUST_CN, REQST_DE
 				 , STTUS, CNSLT_MTHD, CANCL_REASON, CNSLT_RESULT, PROFSR_NO, STDNT_NO
			FROM CNSLT
			WHERE 1=1
				AND PROFSR_NO = #{profsrNo}
			<include refid="where"></include>
			ORDER BY CNSLT_INNB DESC
		)
		, N_T AS (
			SELECT T.*
				 , ROWNUM RNUM
		    FROM T
		)
				
		SELECT * FROM N_T

		WHERE RNUM BETWEEN (#{currentPage}*#{size}) - (#{size}-1) AND (#{currentPage}*#{size})
		
	
	</select>
	
	
	
	<!-- 	//상담페이지 상단에 통계	
	public List<CnsltVO> selectProfCnsltCount(String profsrNo); -->
	
	<select id="selectProfCnsltCount" parameterType="String" resultType="cnsltVO">
		SELECT STTUS, COUNT(CNSLT_INNB) CNT
		FROM CNSLT
		WHERE PROFSR_NO = #{profsrNo}
		GROUP BY STTUS	
	</select>
	
	
	<!-- //1.예약 대기중 -> 2.예약 완료 patch
	public int patchAccept(CnsltVO cnsltVO); -->
	
	<update id="patchAccept" parameterType="cnsltVO">
		UPDATE CNSLT
		   SET STTUS = #{sttus}
		     , CNSLT_MTHD = #{cnsltMthd}
 		 WHERE CNSLT_INNB = #{cnsltInnb}
	</update>
	
	
	
	<!-- //상태 1, 2 => 3. 취소 patch
	public int patchCancl(CnsltVO cnsltVO); -->
	<update id="patchCancl" parameterType="cnsltVO">
		UPDATE CNSLT
		   SET STTUS = #{sttus}
		     , CANCL_REASON = #{canclReason}
 		 WHERE CNSLT_INNB = #{cnsltInnb}
	</update>
	
	
	<!-- //상태 2 => 4. 완료 PATCH
	public int patchResult(CnsltVO cnsltVO); -->
	
	<update id="patchResult" parameterType="cnsltVO">
		UPDATE CNSLT
		   SET STTUS = #{sttus}
		     , CNSLT_RESULT = #{cnsltResult}
 		 WHERE CNSLT_INNB = #{cnsltInnb}
	</update>
	
	

</mapper>