<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.collage_api.grade.mapper.GradeScreMapper">

    <select id="getProfsrNoByAcntId" resultType="string">
	    SELECT P.PROFSR_NO
	    FROM ACNT A
	    JOIN SKLSTF S ON A.ACNT_ID = S.ACNT_ID
	    JOIN PROFSR P ON S.SKLSTF_ID = P.SKLSTF_ID
	    WHERE A.ACNT_ID = #{acntId}
	</select>
	
    <select id="getAllSbject" resultType="kr.ac.collage_api.grade.vo.GradeScreVO">
        SELECT
            A.ESTBLLCTRE_CODE, A.LCTRE_CODE, A.PROFSR_NO, A.LCTRUM
            ,A.COMPL_SE, A.ESTBL_YEAR, A.ESTBL_SEMSTR, B.LCTRE_NM
        FROM ESTBL_COURSE A
        LEFT JOIN ALL_COURSE B ON A.LCTRE_CODE = B.LCTRE_CODE
        WHERE A.PROFSR_NO = #{profsrNo}
        ORDER BY A.ESTBL_YEAR DESC, A.ESTBL_SEMSTR DESC
    </select>
    
    <select id="getCourseDetail" resultType="kr.ac.collage_api.grade.vo.GradeScreVO">
        SELECT
            A.ESTBLLCTRE_CODE, A.LCTRE_CODE, B.LCTRE_NM, A.ESTBL_YEAR
            ,A.ESTBL_SEMSTR, A.LCTRUM, A.COMPL_SE
        FROM ESTBL_COURSE A
        JOIN ALL_COURSE B ON A.LCTRE_CODE = B.LCTRE_CODE
        WHERE A.ESTBLLCTRE_CODE = #{estbllctreCode}
    </select>
    <select id="getSbjectScr" resultType="kr.ac.collage_api.grade.vo.GradeScreVO">
        SELECT
            SC.STDNT_NO AS stdntNo, ST.STDNT_NM AS stdntNm
            ,SC.ATNLC_REQST_NO AS atnlcReqstNo
            ,NVL(G.ATEND_SCORE, 0) AS atendScore, NVL(G.TASK_SCORE, 0) AS taskScore
            ,NVL(G.MIDDLE_SCORE, 0) AS middleScore, NVL(G.TRMEND_SCORE, 0) AS trmendScore
            ,NVL(G.SBJECT_TOTPOINT, 0) AS sbjectTotpoint
            ,NVL(G.PNT_GRAD, 'F') AS pntGrad, NVL(G.AVRG_SCORE, 0) AS pntAvrg
        FROM ATNLC_REQST SC
        JOIN STDNT ST ON SC.STDNT_NO = ST.STDNT_NO
        JOIN ESTBL_COURSE EC ON SC.ESTBLLCTRE_CODE = EC.ESTBLLCTRE_CODE
        LEFT JOIN SBJECT_SCRE G ON SC.ATNLC_REQST_NO = G.ATNLC_REQST_NO
        WHERE SC.ESTBLLCTRE_CODE = #{estbllctreCode}
        ORDER BY ST.STDNT_NO
    </select>
    <update id="saveGrades" parameterType="java.util.List">
      BEGIN
        <foreach collection="list" item="g" separator=";">
          DECLARE
            v_semstr_scre_innb NUMBER; v_stdnt_no VARCHAR2(9);
            v_year VARCHAR2(4); v_semstr VARCHAR2(20);
          BEGIN
            SELECT STDNT_NO, REQST_YEAR, REQST_SEMSTR
            INTO v_stdnt_no, v_year, v_semstr
            FROM ATNLC_REQST
            WHERE ATNLC_REQST_NO = #{g.atnlcReqstNo};
            
            BEGIN
              SELECT SEMSTR_SCRE_INNB INTO v_semstr_scre_innb
              FROM SEMSTR_SCRE
              WHERE STDNT_NO = v_stdnt_no AND YEAR = v_year AND SEMSTR = v_semstr;
            EXCEPTION
              WHEN NO_DATA_FOUND THEN
                SELECT NVL(MAX(SEMSTR_SCRE_INNB), 0) + 1 INTO v_semstr_scre_innb
                FROM SEMSTR_SCRE;
                INSERT INTO SEMSTR_SCRE (
                  SEMSTR_SCRE_INNB, STDNT_NO, TOT_REQST_PNT, TOT_ACQS_PNT, 
                  PNT_AVRG, SEMSTR, YEAR, SEMSTR_TOTPOINT, PNT_GRAD
                ) VALUES (
                  v_semstr_scre_innb, v_stdnt_no, 0, 0, 0, v_semstr, v_year, 0, NULL
                );
            END;
            
            MERGE INTO SBJECT_SCRE G
            USING (
              SELECT
                #{g.atnlcReqstNo} AS ATNLC_REQST_NO, #{g.atendScore} AS ATEND_SCORE
                ,#{g.taskScore} AS TASK_SCORE, #{g.middleScore} AS MIDDLE_SCORE
                ,#{g.trmendScore} AS TRMEND_SCORE, #{g.sbjectTotpoint} AS SBJECT_TOTPOINT
                ,#{g.pntGrad} AS PNT_GRAD, #{g.pntAvrg} AS AVRG_SCORE
              FROM DUAL
            ) S ON (G.ATNLC_REQST_NO = S.ATNLC_REQST_NO)
            WHEN MATCHED THEN
              UPDATE SET
                G.ATEND_SCORE = S.ATEND_SCORE, G.TASK_SCORE = S.TASK_SCORE
                ,G.MIDDLE_SCORE = S.MIDDLE_SCORE, G.TRMEND_SCORE = S.TRMEND_SCORE
                ,G.SBJECT_TOTPOINT = S.SBJECT_TOTPOINT, G.PNT_GRAD = S.PNT_GRAD
                ,G.AVRG_SCORE = S.AVRG_SCORE
            WHEN NOT MATCHED THEN
              INSERT (
                G.SBJECT_SCRE_INNB, G.SEMSTR_SCRE_INNB, G.ATNLC_REQST_NO
                ,G.PNT_GRAD, G.ACQS_PNT, G.ATEND_SCORE, G.TASK_SCORE
                ,G.MIDDLE_SCORE, G.TRMEND_SCORE, G.SBJECT_TOTPOINT, G.AVRG_SCORE
              ) VALUES (
                (SELECT NVL(MAX(SBJECT_SCRE_INNB), 0) + 1 FROM SBJECT_SCRE)
                ,v_semstr_scre_innb, S.ATNLC_REQST_NO, S.PNT_GRAD, NULL
                ,S.ATEND_SCORE, S.TASK_SCORE, S.MIDDLE_SCORE
                ,S.TRMEND_SCORE, S.SBJECT_TOTPOINT, S.AVRG_SCORE
              );
          END;
        </foreach>
      END;
    </update>
    <select id="searchStudent" resultType="kr.ac.collage_api.grade.vo.GradeScreVO">
        SELECT
            ST.STDNT_NO AS stdntNo, ST.STDNT_NM AS stdntNm
        FROM STDNT ST
        JOIN ATNLC_REQST AR ON ST.STDNT_NO = AR.STDNT_NO
        WHERE AR.ESTBLLCTRE_CODE = #{estbllctreCode}
        AND ST.STDNT_NM LIKE '%' || #{keyword} || '%'
        ORDER BY ST.STDNT_NO
    </select>
    
    <select id="getStudentSemstrList" resultType="kr.ac.collage_api.grade.vo.GradeScreVO">
        SELECT
            SEMSTR_SCRE_INNB, YEAR, SEMSTR
            ,NVL(SEMSTR_TOTPOINT, 0) AS semstrTotpoint
            ,NVL(PNT_AVRG, 0) AS pntAvrg
            ,NVL(PNT_GRAD, '-') AS pntGrad
            ,NVL(TOT_ACQS_PNT, 0) AS totAcqsPnt
        FROM SEMSTR_SCRE
        WHERE STDNT_NO = #{stdntNo}
        ORDER BY YEAR DESC, SEMSTR DESC
    </select>
    
    <select id="getStudentSemstrDetail" resultType="kr.ac.collage_api.grade.vo.GradeScreVO">
        SELECT
            C.LCTRE_NM, B.COMPL_SE, B.ACQS_PNT
            ,NVL(A.PNT_GRAD, 'F') AS pntGrad
            ,NVL(A.SBJECT_TOTPOINT, 0) AS sbjectTotpoint
            ,NVL(A.AVRG_SCORE, 0) AS pntAvrg
            ,NVL(A.ATEND_SCORE, 0) AS atendScore
            ,NVL(A.TASK_SCORE, 0) AS taskScore
            ,NVL(A.MIDDLE_SCORE, 0) AS middleScore
            ,NVL(A.TRMEND_SCORE, 0) AS trmendScore
            
        FROM SBJECT_SCRE A
        JOIN ATNLC_REQST AR ON A.ATNLC_REQST_NO = AR.ATNLC_REQST_NO
        JOIN ESTBL_COURSE B ON AR.ESTBLLCTRE_CODE = B.ESTBLLCTRE_CODE
        JOIN ALL_COURSE C ON B.LCTRE_CODE = C.LCTRE_CODE
        WHERE A.SEMSTR_SCRE_INNB = #{semstrScreInnb}
        ORDER BY C.LCTRE_NM
    </select>

</mapper>