<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.learning.mapper.LearningPageProfMapper">
    <resultMap id="TaskMap" type="taskVO">
        <id column="TASK_NO" property="taskNo"/>
        <result column="WEEK_ACCTO_LRN_NO" property="weekAcctoLrnNo"/>
        <result column="TASK_SJ" property="taskSj"/>
        <result column="TASK_CN" property="taskCn"/>
        <result column="TASK_BEGIN_DE" property="taskBeginDe"/>
        <result column="TASK_CLOS_DE" property="taskClosDe"/>
        <result column="REGIST_DT" property="registDt"/>
        <result column="UPDT_DT" property="updtDt"/>
        <result column="WEEK" property="week"/>
    </resultMap>

    <resultMap id="TaskPresentnMap" type="taskPresentnVO">
        <id column="TASK_PRESENTN_NO" property="taskPresentnNo"/>
        <result column="STDNT_NO" property="stdntNo"/>
        <result column="STDNT_NM" property="stdntNm"/>
        <result column="TASK_NO" property="taskNo"/>
        <result column="FILE_GROUP_NO" property="fileGroupNo"/>
        <result column="TASK_PRESENTN_DE" property="taskPresentnDe"/>
        <result column="PRESENTN_AT" property="presentnAt"/>
    </resultMap>

    <resultMap id="AttendMap" type="atendAbsncVO">
        <id column="ATEND_ABSNC_NO" property="atendAbsncNo"/>
        <result column="WEEK_ACCTO_LRN_NO" property="weekAcctoLrnNo"/>
        <result column="STDNT_NO" property="stdntNo"/>
        <result column="ATEND_STTUS_CODE" property="atendSttusCode"/>
    </resultMap>

    <resultMap id="attendDetailMap" type="atendAbsncVO">
        <id property="atendAbsncNo" column="ATEND_ABSNC_NO"/>
        <result property="weekAcctoLrnNo" column="WEEK_ACCTO_LRN_NO"/>
        <result property="stdntNo" column="STDNT_NO"/>
        <result property="atendSttusCode" column="ATEND_STTUS_CODE"/>
        <result property="lctreDe" column="LCTRE_DE"/>
        <association property="weekAcctoLrnVO" javaType="weekAcctoLrnVO">
            <id property="weekAcctoLrnNo" column="WEEK_ACCTO_LRN_NO"/>
            <result property="estbllctreCode" column="ESTBLLCTRE_CODE"/>
            <result property="fileGroupNo" column="FILE_GROUP_NO"/>
            <result property="week" column="WEEK"/>
            <result property="taskAt" column="TASK_AT"/>
            <result property="lrnThema" column="LRN_THEMA"/>
            <result property="lrnCn" column="LRN_CN"/>
            <result property="quizAt" column="QUIZ_AT"/>
        </association>
        <association property="stdntVO" javaType="stdntVO">
            <id property="stdntNo" column="STDNT_NO"/>
            <result property="stdntNm" column="STDNT_NM"/>
            <result property="subjctCode" column="SUBJCT_CODE"/>
            <association property="subjctVO" javaType="kr.ac.collage_api.vo.SubjctVO">
                <result property="subjctNm" column="SUBJCT_NM"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="QuizMap" type="quizVO">
        <id column="QUIZ_CODE" property="quizCode"/>
        <result column="WEEK_ACCTO_LRN_NO" property="weekAcctoLrnNo"/>
        <result column="QUES_CN" property="quesCn"/>
        <result column="QUIZ_BEGIN_DE" property="quizBeginDe"/>
        <result column="QUIZ_CLOS_DE" property="quizClosDe"/>
        <result column="WEEK" property="week"/>
    </resultMap>

    <resultMap id="QuizPresentnMap" type="quizPresentnVO">
        <id column="QUIZ_PRESENTN_NO" property="quizPresentnNo"/>
        <result column="STDNT_NO" property="stdntNo"/>
        <result column="STDNT_NM" property="stdntNm"/>
        <result column="QUIZ_CODE" property="quizCode"/>
        <result column="QUIZ_EX_CODE" property="quizExCode"/>
        <result column="QUIZ_PRESENTN_DE" property="quizPresentnDe"/>
        <result column="PRESENTN_AT" property="presentnAt"/>
        <result column="WEEK" property="week"/>
        <result column="CNSL_AT" property="cnslAt"/>
    </resultMap>

    <resultMap id="FileDetailMap" type="fileDetailVO">
        <id property="fileNo" column="FILE_NO"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO"/>
        <result property="fileNm" column="FILE_NM"/>
        <result property="fileStreNm" column="FILE_STRE_NM"/>
        <result property="fileStreplace" column="FILE_STREPLACE"/>
        <result property="fileMg" column="FILE_MG"/>
        <result property="fileExtsn" column="FILE_EXTSN"/>
        <result property="fileTy" column="FILE_TY"/>
        <result property="fileStreDe" column="FILE_STRE_DE"/>
        <result property="fileDwldCo" column="FILE_DWLD_CO"/>
    </resultMap>

    <resultMap id="BbsMap" type="bbsVO">
        <id property="bbsCode" column="BBS_CODE"/>
        <result property="estbllctreCode" column="ESTBLLCTRE_CODE"/>
        <result property="bbsNm" column="BBS_NM"/>
        <result property="bbsDc" column="BBS_DC"/>
    </resultMap>

    <resultMap id="BbsCttMap" type="bbsCttVO">
        <id property="bbscttNo" column="BBSCTT_NO"/>
        <result property="acntId" column="ACNT_ID"/>
        <result property="bbsCode" column="BBS_CODE"/>
        <result property="parntsBbscttNo" column="PARNTS_BBSCTT_NO"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO"/>
        <result property="bbscttSj" column="BBSCTT_SJ"/>
        <result property="bbscttCn" column="BBSCTT_CN"/>
        <result property="bbscttWritngDe" column="BBSCTT_WRITNG_DE"/>
        <result property="bbscttRdcnt" column="BBSCTT_RDCNT"/>
        <result property="sklstfNm" column="SKLSTF_NM"/>
        <result property="stdntNo" column="STDNT_NO"/>
        <result property="stdntNm" column="STDNT_NM"/>
    </resultMap>

    <resultMap id="TaskPresentnWithFileMap" type="taskPresentnVO">
        <id column="TASK_PRESENTN_NO" property="taskPresentnNo"/>
        <result column="STDNT_NO" property="stdntNo"/>
        <result column="STDNT_NM" property="stdntNm"/>
        <result column="TASK_NO" property="taskNo"/>
        <result column="FILE_GROUP_NO" property="fileGroupNo"/>
        <result column="TASK_PRESENTN_DE" property="taskPresentnDe"/>
        <result column="PRESENTN_AT" property="presentnAt"/>
        <collection property="fileDetailVOList" resultMap="FileDetailMap"/>
    </resultMap>

    <select id="getLctreNm" parameterType="string">
        SELECT
            ac.lctre_nm
        FROM all_course ac
            INNER JOIN estbl_course e
                ON ac.lctre_code = e. lctre_code
        WHERE e.estbllctre_code = #{estbllctreCode}
    </select>

    <select id="selectTasks" parameterType="string" resultMap="TaskMap">
        SELECT
            t.task_no
            , t.week_accto_lrn_no
            , t.task_sj
            , t.task_cn
            , t.task_begin_de
            , t.task_clos_de
            , t.regist_dt
            , t.updt_dt
            , w.week
        FROM task t
            INNER JOIN week_accto_lrn w
              ON t.week_accto_lrn_no = w.week_accto_lrn_no
        WHERE W.estbllctre_code = #{estbllctreCode}
        ORDER BY TO_NUMBER(t.task_no)
    </select>

    <select id="selectTaskPresentn" parameterType="string" resultMap="TaskPresentnWithFileMap">
        SELECT
            p.task_presentn_no
            , p.stdnt_no
            , p.task_no
            , p.file_group_no
            , p.task_presentn_de
            , p.presentn_at
            , std.stdnt_nm
            , fd.file_no
            , fd.file_nm
            , fd.file_stre_nm
            , fd.file_streplace
            , fd.file_mg
            , fd.file_extsn
            , fd.file_ty
            , fd.file_stre_de
            , fd.file_dwld_co
        FROM task_presentn p
             INNER JOIN task t
                  ON p.task_no = t.task_no
             INNER JOIN week_accto_lrn w
                  ON t.week_accto_lrn_no = w.week_accto_lrn_no
            INNER JOIN stdnt std
                ON p.stdnt_no = std.stdnt_no
             LEFT OUTER JOIN file_detail fd
                ON p.file_group_no = fd.file_group_no
        WHERE w.estbllctre_code = #{estbllctreCode}
        ORDER BY TO_NUMBER(p.task_presentn_no)
    </select>

    <select id="selectTaskPresentnByTask" parameterType="map" resultMap="TaskPresentnWithFileMap">
        SELECT
            p.task_presentn_no
            , p.stdnt_no
            , p.task_no
            , p.file_group_no
            , p.task_presentn_de
            , p.presentn_at
            , std.stdnt_nm
            , fd.file_no
            , fd.file_nm
            , fd.file_stre_nm
            , fd.file_streplace
            , fd.file_mg
            , fd.file_extsn
            , fd.file_ty
            , fd.file_stre_de
            , fd.file_dwld_co
        FROM task_presentn p
             INNER JOIN task t
                 ON p.task_no = t.task_no
             INNER JOIN week_accto_lrn w
                 ON t.week_accto_lrn_no = w.week_accto_lrn_no
             INNER JOIN stdnt std
                        ON p.stdnt_no = std.stdnt_no
             LEFT OUTER JOIN file_detail fd
                        ON p.file_group_no = fd.file_group_no
        WHERE w.estbllctre_code = #{estbllctreCode}
          AND p.task_no = #{taskNo}
        ORDER BY TO_NUMBER(p.task_presentn_no)
    </select>

    <select id="selectLectureStudents" parameterType="string" resultType="string">
        SELECT ar.stdnt_no
        FROM atnlc_reqst ar
        WHERE ar.estbllctre_code = #{estbllctreCode}
          AND ar.reqst_sttus = '신청완료'
        ORDER BY ar.stdnt_no
    </select>

    <select id="findWeekAcctoLrnNo" parameterType="map" resultType="string">
        SELECT week_accto_lrn_no
        FROM week_accto_lrn
        WHERE estbllctre_code = #{estbllctreCode}
          AND week = #{week}
    </select>

    <select id="nextTaskNo" resultType="string">
        SELECT TO_CHAR(NVL(MAX(TO_NUMBER(task_no)), 0) + 1) FROM task
    </select>

    <select id="nextTaskPresentnNo" resultType="string">
        SELECT TO_CHAR(NVL(MAX(TO_NUMBER(task_presentn_no)), 0) + 1) FROM task_presentn
    </select>

    <select id="getTaskByNo" parameterType="string" resultMap="TaskMap">
        SELECT
            t.task_no,
            t.week_accto_lrn_no,
            t.task_sj,
            t.task_cn,
            t.task_begin_de,
            t.task_clos_de,
            t.regist_dt,
            t.updt_dt,
            w.week
        FROM task t
                 JOIN week_accto_lrn w ON t.week_accto_lrn_no = w.week_accto_lrn_no
        WHERE t.task_no = #{taskNo}
    </select>

    <insert id="insertTask" parameterType="taskVO">
        INSERT INTO task (
            task_no,
            week_accto_lrn_no,
            task_sj,
            task_cn,
            task_begin_de,
            task_clos_de,
            regist_dt,
            updt_dt
        ) VALUES (
                     #{taskNo},
                     #{weekAcctoLrnNo},
                     #{taskSj},
                     #{taskCn},
                     #{taskBeginDe},
                     #{taskClosDe},
                     SYSDATE,
                     SYSDATE
                 )
    </insert>

    <update id="updateTask" parameterType="map">
        UPDATE task
        SET task_sj = #{task.taskSj},
            task_cn = #{task.taskCn},
            task_begin_de = #{task.taskBeginDe},
            task_clos_de = #{task.taskClosDe},
            week_accto_lrn_no = #{task.weekAcctoLrnNo},
            updt_dt = SYSDATE
        WHERE task_no = #{task.taskNo}
          AND week_accto_lrn_no IN (
            SELECT week_accto_lrn_no
            FROM week_accto_lrn
            WHERE estbllctre_code = #{estbllctreCode}
        )
    </update>

    <delete id="deleteTaskPresentnByTask" parameterType="string">
        DELETE FROM task_presentn
        WHERE task_no = #{taskNo}
    </delete>

    <delete id="deleteTask" parameterType="map">
        DELETE FROM task
        WHERE task_no = #{taskNo}
          AND week_accto_lrn_no IN (
            SELECT week_accto_lrn_no
            FROM week_accto_lrn
            WHERE estbllctre_code = #{estbllctreCode}
        )
    </delete>

    <insert id="insertTaskPresentn" parameterType="taskPresentnVO">
        INSERT INTO task_presentn (
            task_presentn_no,
            stdnt_no,
            task_no,
            file_group_no,
            task_presentn_de,
            presentn_at
        ) VALUES (
                 #{taskPresentnNo},
                 #{stdntNo},
                 #{taskNo},
                 NULL,
                 NULL,
                 #{presentnAt}
        )
    </insert>

    <select id="getAttend" parameterType="hashMap" resultMap="attendDetailMap">
        SELECT
            aa.atend_absnc_no
             , aa.week_accto_lrn_no
             , aa.stdnt_no
             , aa.atend_sttus_code
             , NVL(aa.lctre_de, TO_CHAR(SYSDATE, 'YYYY-MM-DD')) AS lctre_de
             , wal.estbllctre_code
             , wal.file_group_no
             , wal.week
             , wal.task_at
             , wal.lrn_thema   AS lrn_thema
             , wal.lrn_cn      AS lrn_cn
             , wal.quiz_at
             , std.stdnt_nm
             , std.subjct_code
        FROM atend_absnc aa
                 INNER JOIN week_accto_lrn wal
                            ON aa.week_accto_lrn_no = wal.week_accto_lrn_no
                 INNER JOIN stdnt std
                            ON aa.stdnt_no = std.stdnt_no
        WHERE wal.estbllctre_code = #{estbllctreCode}
          AND aa.stdnt_no = #{stdntNo}
        ORDER BY wal.week, std.stdnt_no
    </select>

    <select id="getAttendList" parameterType="string" resultMap="attendDetailMap">
        SELECT
            aa.atend_absnc_no
             , aa.week_accto_lrn_no
             , aa.stdnt_no
             , aa.atend_sttus_code
             , NVL(aa.lctre_de, TO_CHAR(SYSDATE, 'YYYYMMDD')) AS lctre_de
             , wal.estbllctre_code
             , wal.file_group_no
             , wal.week
             , wal.task_at
             , wal.lrn_thema   AS lrn_thema
             , wal.lrn_cn      AS lrn_cn
             , wal.quiz_at
             , std.stdnt_nm
             , std.subjct_code
             , sbj.subjct_nm AS subjct_nm
        FROM atend_absnc aa
                 INNER JOIN week_accto_lrn wal
                            ON aa.week_accto_lrn_no = wal.week_accto_lrn_no
                 INNER JOIN stdnt std
                            ON aa.stdnt_no = std.stdnt_no
                 INNER JOIN subjct sbj
                            ON std.subjct_code = sbj.subjct_code
        WHERE wal.estbllctre_code = #{estbllctreCode}
        ORDER BY wal.week, std.stdnt_no
    </select>

    <select id="selectQuiz" parameterType="string" resultMap="QuizMap">
        SELECT q.quiz_code,
               q.week_accto_lrn_no,
               q.ques_cn,
               q.quiz_begin_de,
               q.quiz_clos_de,
               w.week
        FROM quiz q
                 JOIN week_accto_lrn w ON q.week_accto_lrn_no = w.week_accto_lrn_no
        WHERE w.estbllctre_code = #{estbllctreCode}
        ORDER BY TO_NUMBER(w.week), TO_NUMBER(q.quiz_code)
    </select>

    <select id="selectQuizPresentn" parameterType="string" resultMap="QuizPresentnMap">
        SELECT qp.quiz_presentn_no,
               qp.stdnt_no,
               qp.quiz_code,
               qp.quiz_ex_code,
               qp.quiz_presentn_de,
               qp.presentn_at,
               std.stdnt_nm,
               w.week,
               ex.cnsl_at
        FROM quiz_presentn qp
                 JOIN quiz q ON qp.quiz_code = q.quiz_code
                 JOIN week_accto_lrn w ON q.week_accto_lrn_no = w.week_accto_lrn_no
                 JOIN stdnt std ON qp.stdnt_no = std.stdnt_no
                 LEFT JOIN quiz_ex ex ON qp.quiz_ex_code = ex.quiz_ex_code
        WHERE w.estbllctre_code = #{estbllctreCode}
        ORDER BY TO_NUMBER(qp.quiz_presentn_no)
    </select>

    <select id="selectQuizPresentnByQuiz" parameterType="map" resultMap="QuizPresentnMap">
        SELECT qp.quiz_presentn_no,
               qp.stdnt_no,
               qp.quiz_code,
               qp.quiz_ex_code,
               qp.quiz_presentn_de,
               qp.presentn_at,
               std.stdnt_nm,
               w.week,
               ex.cnsl_at
        FROM quiz_presentn qp
                 JOIN quiz q ON qp.quiz_code = q.quiz_code
                 JOIN week_accto_lrn w ON q.week_accto_lrn_no = w.week_accto_lrn_no
                 JOIN stdnt std ON qp.stdnt_no = std.stdnt_no
                 LEFT JOIN quiz_ex ex ON qp.quiz_ex_code = ex.quiz_ex_code
        WHERE w.estbllctre_code = #{estbllctreCode}
          AND qp.quiz_code = #{quizCode}
        ORDER BY TO_NUMBER(qp.quiz_presentn_no)
    </select>

    <select id="nextQuizCode" resultType="string">
        SELECT TO_CHAR(NVL(MAX(TO_NUMBER(quiz_code)), 0) + 1) FROM quiz
    </select>

    <select id="nextQuizPresentnNo" resultType="string">
        SELECT TO_CHAR(NVL(MAX(TO_NUMBER(quiz_presentn_no)), 0) + 1) FROM quiz_presentn
    </select>

    <select id="getQuizByCode" parameterType="string" resultMap="QuizMap">
        SELECT q.quiz_code, q.week_accto_lrn_no, q.ques_cn, q.quiz_begin_de, q.quiz_clos_de, w.week
        FROM quiz q
                 JOIN week_accto_lrn w ON q.week_accto_lrn_no = w.week_accto_lrn_no
        WHERE q.quiz_code = #{quizCode}
    </select>

    <insert id="insertQuiz" parameterType="quizVO">
        INSERT INTO quiz (
            quiz_code,
            week_accto_lrn_no,
            ques_cn,
            quiz_begin_de,
            quiz_clos_de
        ) VALUES (
                     #{quizCode},
                     #{weekAcctoLrnNo},
                     #{quesCn},
                     #{quizBeginDe},
                     #{quizClosDe}
                 )
    </insert>

    <delete id="deleteQuizPresentnByQuiz" parameterType="string">
        DELETE FROM quiz_presentn
        WHERE quiz_code = #{quizCode}
    </delete>

    <update id="clearQuizPresentnExByQuiz" parameterType="string">
        UPDATE quiz_presentn
        SET quiz_ex_code = NULL
        WHERE quiz_code = #{quizCode}
    </update>

    <update id="updateQuiz" parameterType="quizVO">
        UPDATE quiz
        SET week_accto_lrn_no = #{weekAcctoLrnNo},
            ques_cn = #{quesCn},
            quiz_begin_de = #{quizBeginDe},
            quiz_clos_de = #{quizClosDe}
        WHERE quiz_code = #{quizCode}
    </update>

    <delete id="deleteQuiz" parameterType="map">
        DELETE FROM quiz
        WHERE quiz_code = #{quizCode}
          AND week_accto_lrn_no IN (
            SELECT week_accto_lrn_no
            FROM week_accto_lrn
            WHERE estbllctre_code = #{estbllctreCode}
        )
    </delete>

    <select id="nextQuizExCode" resultType="string">
        SELECT TO_CHAR(NVL(MAX(TO_NUMBER(quiz_ex_code)),0)+1) FROM quiz_ex
    </select>

    <delete id="deleteQuizExByQuiz" parameterType="string">
        DELETE FROM quiz_ex WHERE quiz_code = #{quizCode}
    </delete>

    <select id="selectQuizExByQuiz" parameterType="string" resultType="quizExVO">
        SELECT quiz_ex_code,
               quiz_code,
               ex_no,
               ex_cn,
               cnsl_at
        FROM quiz_ex
        WHERE quiz_code = #{quizCode}
        ORDER BY TO_NUMBER(ex_no)
    </select>

    <insert id="insertQuizEx" parameterType="quizExVO">
        INSERT INTO quiz_ex(quiz_ex_code, quiz_code, ex_no, ex_cn, cnsl_at)
        VALUES(#{quizExCode}, #{quizCode}, #{exNo}, #{exCn}, #{cnslAt})
    </insert>

    <insert id="insertQuizPresentn" parameterType="quizPresentnVO">
        INSERT INTO quiz_presentn (
            quiz_presentn_no,
            stdnt_no,
            quiz_code,
            quiz_ex_code,
            quiz_presentn_de,
            presentn_at
        ) VALUES (
                 #{quizPresentnNo},
                 #{stdntNo},
                 #{quizCode},
                 NULL,
                 NULL,
                 #{presentnAt}
        )
    </insert>

    <select id="selectLectureBbs" parameterType="string" resultMap="BbsMap">
        SELECT
            bbs_code,
            estbllctre_code,
            bbs_nm,
            bbs_dc
        FROM bbs
        WHERE estbllctre_code = #{estbllctreCode}
        ORDER BY bbs_code
    </select>

    <select id="findBbsCode" parameterType="map" resultType="int">
        SELECT bbs_code
        FROM bbs
        WHERE estbllctre_code = #{estbllctreCode}
          AND bbs_nm = #{bbsNm}
    </select>

    <select id="selectBoardList" parameterType="map" resultMap="BbsCttMap">
        SELECT
            ctt.bbsctt_no,
            ctt.acnt_id,
            ctt.bbs_code,
            ctt.parnts_bbsctt_no,
            ctt.file_group_no,
            ctt.bbsctt_sj,
            ctt.bbsctt_cn,
            ctt.bbsctt_writng_de,
            ctt.bbsctt_rdcnt,
            skl.sklstf_nm,
            std.stdnt_no,
            std.stdnt_nm
        FROM bbs_ctt ctt
                 INNER JOIN bbs b
                            ON ctt.bbs_code = b.bbs_code
                 LEFT OUTER JOIN sklstf skl
                                 ON ctt.acnt_id = skl.acnt_id
                 LEFT OUTER JOIN stdnt std
                                 ON ctt.acnt_id = std.acnt_id
        WHERE b.estbllctre_code = #{estbllctreCode}
        <if test="bbsCode != null">
            AND ctt.bbs_code = #{bbsCode}
        </if>
        ORDER BY ctt.bbsctt_no DESC
    </select>

    <select id="selectBoardDetail" parameterType="map" resultMap="BbsCttMap">
        SELECT
            ctt.bbsctt_no,
            ctt.acnt_id,
            ctt.bbs_code,
            ctt.parnts_bbsctt_no,
            ctt.file_group_no,
            ctt.bbsctt_sj,
            ctt.bbsctt_cn,
            ctt.bbsctt_writng_de,
            ctt.bbsctt_rdcnt,
            skl.sklstf_nm,
            std.stdnt_no,
            std.stdnt_nm
        FROM bbs_ctt ctt
                 INNER JOIN bbs b
                            ON ctt.bbs_code = b.bbs_code
                 LEFT OUTER JOIN sklstf skl
                                 ON ctt.acnt_id = skl.acnt_id
                 LEFT OUTER JOIN stdnt std
                                 ON ctt.acnt_id = std.acnt_id
        WHERE b.estbllctre_code = #{estbllctreCode}
          AND ctt.bbsctt_no = #{bbscttNo}
    </select>

    <select id="nextBoardNo" resultType="int">
        SELECT NVL(MAX(bbsctt_no), 0) + 1
        FROM bbs_ctt
    </select>

    <insert id="insertBoard" parameterType="bbsCttVO">
        INSERT INTO bbs_ctt (
            bbsctt_no,
            acnt_id,
            bbs_code,
            parnts_bbsctt_no,
            file_group_no,
            bbsctt_sj,
            bbsctt_cn,
            bbsctt_writng_de,
            bbsctt_rdcnt
        ) VALUES (
            #{bbscttNo},
            #{acntId},
            #{bbsCode},
            #{parntsBbscttNo,jdbcType=INTEGER},
            #{fileGroupNo},
            #{bbscttSj},
            #{bbscttCn},
            SYSDATE,
            NVL(#{bbscttRdcnt}, 0)
        )
    </insert>

    <update id="updateBoard" parameterType="bbsCttVO">
        UPDATE bbs_ctt
        SET bbs_code = #{bbsCode},
            bbsctt_sj = #{bbscttSj},
            bbsctt_cn = #{bbscttCn}
        WHERE bbsctt_no = #{bbscttNo}
    </update>

    <delete id="deleteBoard" parameterType="map">
        DELETE FROM bbs_ctt
        WHERE bbsctt_no = #{bbscttNo}
          AND bbs_code IN (
            SELECT bbs_code FROM bbs WHERE estbllctre_code = #{estbllctreCode}
        )
    </delete>

    <select id="selectFileDetailByFileNo" parameterType="long" resultType="fileDetailVO">
        SELECT
            file_no,
            file_group_no,
            file_nm,
            file_stre_nm,
            file_streplace,
            file_mg,
            file_extsn,
            file_ty,
            file_stre_de,
            file_dwld_co
        FROM file_detail
        WHERE file_group_no = #{fileGroupNo}
            AND file_no = #{fileNo}
    </select>

    <select id="getBoard" parameterType="hashMap">
        SELECT
            bc.bbsctt_no
             , bc.bbs_code
             , bc.parnts_bbsctt_no
             , bc.file_group_no
             , bc.bbsctt_sj
             , bc.bbsctt_cn
             , bc.bbsctt_writng_de
             , bc.bbsctt_rdcnt
             , b.bbs_nm
             , ac.lctre_nm
             , skl.sklstf_nm
             , std.stdnt_nm
        FROM bbs_ctt bc
                 INNER JOIN bbs b
                            ON b.bbs_code = #{code}
                 INNER JOIN estbl_course e
                            ON b.estbllctre_code = e.estbllctre_code
                 INNER JOIN all_course ac
                            ON e.lctre_code = ac.lctre_code
                 LEFT OUTER JOIN sklstf skl
                                 ON bc.acnt_id = skl.acnt_id
        LEFT OUTER JOIN stdnt std
            ON bc.acnt_id = std.acnt_id
        WHERE  bc.bbsctt_no = #{no}
    </select>

    <update id="updateBoardReadCount" parameterType="int">
        UPDATE bbs_ctt
        SET bbsctt_rdcnt = NVL(bbsctt_rdcnt,0) + 1
        WHERE bbsctt_no = #{bbscttNo}
    </update>

    <select id="selectPrevBoard" parameterType="map" resultType="hashMap">
        <![CDATA[
        SELECT *
        FROM (
            SELECT bbsctt_no AS bbscttNo, bbsctt_sj AS bbscttSj
            FROM bbs_ctt
            WHERE bbs_code = #{code}
              AND bbsctt_no < #{no}
            ORDER BY bbsctt_no DESC
        )
        WHERE ROWNUM = 1
        ]]>
    </select>

    <select id="selectNextBoard" parameterType="map" resultType="hashMap">
        <![CDATA[
        SELECT *
        FROM (
            SELECT bbsctt_no AS bbscttNo, bbsctt_sj AS bbscttSj
            FROM bbs_ctt
            WHERE bbs_code = #{code}
              AND bbsctt_no > #{no}
            ORDER BY bbsctt_no ASC
        )
        WHERE ROWNUM = 1
        ]]>
    </select>
</mapper>
