<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.learning.mapper.LearningPageMapper">
    <select id="getLearningPage" parameterType="String" resultType="HashMap">
        SELECT                      /* kr.ac.collage_api.learning.mapper.LearningPageMapper.getLearningPage */
            week_accto_lrn_no       /* 주 별 학습 번호 */
            , estbllctre_code       /* 개설 강의 코드 */
            , file_group_no         /* 파일 그룹 번호 */
            , week                  /* 주 */
            , task_at               /* 과제 여부 */
            , lrn_thema             /* 학습 주제 */
            , lrn_cn                /* 학습 내용 */
            , quiz_at               /* 퀴즈 여부 */
        FROM week_accto_lrn         /* 주 별 학습 */
        WHERE estbllctre_code = #{lecNo}
        ORDER BY week
    </select>

    <select id="getLectureInfo" parameterType="String" resultType="HashMap">
        SELECT
            ec.profsr_no
            , ec.acqs_pnt
            , ec.lctrum
            , ec.compl_se
            , ec.atnlc_nmpr
            , ec.lctre_use_lang
            , ec.evl_mthd
            , ec.estbl_year
            , ec.estbl_semstr
            , ac.lctre_nm
        FROM estbl_course ec
            INNER JOIN all_course ac
                ON ec.lctre_code = ac.lctre_code
        WHERE estbllctre_code = #{lecNo}
    </select>

    <select id="taskList" resultType="taskVO">
        SELECT                      /* kr.ac.collage_api.learning.mapper.LearningPageMapper.taskList */
            task_no                 /* 과제 번호 */
            , task_sj               /* 과제 제목 */
            , task_cn               /* 과제 내용 */
            , task_begin_de         /* 과제 시작 일자 */
            , task_clos_de          /* 과제 종료 일자 */
            , regist_dt             /* 등록 일시 */
            , updt_dt               /* 수정 일시 */
        FROM task
        WHERE week_accto_lrn_no = (
            SELECT week_accto_lrn_no
            FROM week_accto_lrn
            WHERE estbllctre_code = #{lecNo}
                AND week = #{weekNo}
            )
    </select>

    <resultMap id="taskPresentnMap" type="taskPresentnVO">
        <result property="taskPresentnNo" column="TASK_PRESENTN_NO"/>
        <result property="stdntNo" column="STDNT_NO"/>
        <result property="taskNo" column="TASK_NO"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO"/>
        <result property="taskPresentnDe" column="TASK_PRESENTN_DE"/>
        <result property="presentnAt" column="PRESENTN_AT"/>
        <collection property="fileDetailVOList" resultMap="taskDetailMap"></collection>
    </resultMap>

    <resultMap id="taskDetailMap" type="fileDetailVO">
        <result property="fileNo" column="FILE_NO"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO"/>
        <result property="fileNm" column="FILE_NM"/>
        <result property="fileStreNm" column="FILE_STRE_NM"/>
        <result property="fileStreplace" column="FILE_STREPLACE"/>
        <result property="fileMg" column="FILE_MG"/>
        <result property="fileExtsn" column="FILE_EXTSN"/>
        <result property="fileTy" column="FILE_TY"/>
        <result property="fileStreDe" column="FILE_STRE_DE"/>
        <result property="fileDwldCo" column="FILE_DWLD_CO"/>
    </resultMap>

    <select id="getSubmitTask" resultType="taskPresentnVO" resultMap="taskPresentnMap">
        SELECT                      /* kr.ac.collage_api.learning.mapper.LearningPageMapper.getSubmitTask */
            tp.task_presentn_no        /* 과제 제출 번호 */
             , tp.stdnt_no              /* 학생 번호 */
             , tp.task_no               /* 과제 번호 */
             , tp.file_group_no         /* 파일 그룹 번호 */
             , tp.task_presentn_de      /* 과제 제출 일자 */
             , tp.presentn_at           /* 제출 여부 */
             , fd.file_no
             , fd.file_nm
             , fd.file_streplace
             , fd.file_mg
             , fd.file_extsn
             , fd.file_ty
             , fd.file_stre_de
             , fd.file_dwld_co
        FROM task_presentn tp
                 INNER JOIN file_detail fd
                            ON tp.file_group_no = fd.file_group_no
        WHERE tp.task_no = #{taskNo}
          AND tp.stdnt_no = #{studentNo}
    </select>

    <select id="getSubmitQuiz" resultType="quizPresentnVO">
        SELECT
            quiz_presentn_no
            , stdnt_no
            , quiz_code
            , quiz_ex_code
            , quiz_presentn_de
            , presentn_at
        FROM quiz_presentn
        WHERE quiz_code = #{quizCode}
            AND stdnt_no = #{name}
    </select>

    <update id="taskFileUpload">
        UPDATE task_presentn                                        /* kr.ac.collage_api.learning.mapper.LearningPageMapper.taskFileUpload */
        SET file_group_no = #{fileGroupNo}                          /* 파일 그룹 번호 */
            , task_presentn_de = TO_CHAR(SYSDATE, 'YYYYMMDD')     /* 과제 제출 일자 */
            , presentn_at = 1                                       /* 제철 여부 */
        WHERE task_presentn_no = #{taskpresentnNo}                  /* 과제 제출 번호 */
    </update>

    <select id="quizList" parameterType="quizVO">
        SELECT                      /* kr.ac.collage_api.learning.mapper.LearningPageMapper.quizList */
            quiz_code               /* 퀴즈 코드 */
            , week_accto_lrn_no     /* 주 별 학습 번호 */
            , ques_cn               /* 문제 내용 */
            , quiz_begin_de         /* 퀴즈 시작 일자 */
            , quiz_clos_de          /* 퀴즈 마감 일자 */
        FROM quiz
        WHERE week_accto_lrn_no = (
            SELECT week_accto_lrn_no
            FROM week_accto_lrn
            WHERE estbllctre_code = #{lecNo}
              AND week = #{weekNo}
        )
    </select>

    <select id="quizExList" parameterType="String">
        SELECT                  /* kr.ac.collage_api.learning.mapper.LearningPageMapper.quizExList */
            quiz_ex_code        /* 퀴즈 보기 코드 */
            , quiz_code         /* 퀴즈 코드 */
            , ex_no             /* 보기 번호 */
            , ex_cn             /* 보기 내용 */
            , cnsl_at           /* 정답 여부 */
        FROM quiz_ex
        WHERE quiz_code = #{quizCode}
    </select>
</mapper>