<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.lecture.mapper.LectureMapper">

	<!-- EVL_NO 시퀀스 (최댓값 + 1) -->
	<select id="nextEvlNo" resultType="java.lang.Integer">
	  SELECT NVL(MAX(EVL_NO), 0) + 1 FROM LCTRE_EVL
	</select>
	
	<!-- LCTRE_EVL 기본행 생성 -->
	<insert id="insertLctreEvl">
	  INSERT INTO LCTRE_EVL (EVL_NO, ESTBLLCTRE_CODE, ALL_EVL_AVRG)
	  VALUES (#{evlNo}, #{estbllctreCode}, 0)
	</insert>

<!-- 교수 -->

	<!-- 1. 전체 개설 강의 목록 조회 -->
    <select id="getAllCourse" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
      	SELECT 
            A.ESTBLLCTRE_CODE
            ,A.LCTRE_CODE, PROFSR_NO
            ,A.FILE_GROUP_NO, ACQS_PNT
            ,A.LCTRUM, COMPL_SE
            ,A.ATNLC_NMPR
            ,A.LCTRE_USE_LANG
            ,A.EVL_MTHD
            ,A.ATEND_SCORE_REFLCT_RATE
            ,A.TASK_SCORE_REFLCT_RATE
            ,A.MIDDLE_TEST_SCORE_REFLCT_RATE
            ,A.TRMEND_TEST_SCORE_REFLCT_RATE
            ,A.ESTBL_YEAR, ESTBL_SEMSTR
            ,B.LCTRE_NM
        FROM ESTBL_COURSE A
		LEFT JOIN ALL_COURSE B 
		ON A.LCTRE_CODE = B.LCTRE_CODE
    </select>


    <!-- 2. 개설강의 단건 조회 -->
    <select id="getEstblCourseById" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
        SELECT 
            ESTBLLCTRE_CODE
            ,LCTRE_CODE, PROFSR_NO
            ,FILE_GROUP_NO, ACQS_PNT
            ,LCTRUM, COMPL_SE
            ,ATNLC_NMPR
            ,LCTRE_USE_LANG
            ,EVL_MTHD
            ,ATEND_SCORE_REFLCT_RATE
            ,TASK_SCORE_REFLCT_RATE
            ,MIDDLE_TEST_SCORE_REFLCT_RATE
            ,TRMEND_TEST_SCORE_REFLCT_RATE
            ,ESTBL_YEAR, ESTBL_SEMSTR
        FROM ESTBL_COURSE
        WHERE ESTBLLCTRE_CODE = #{estbllctreCode}
    </select>


    <!-- 3. 강의평가 기본정보 조회 -->
    <select id="getLectureEvalByEstblCode" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
        SELECT 
		    A.EVL_NO
		    ,A.ESTBLLCTRE_CODE
		    ,A.ALL_EVL_AVRG
		    ,B.EVL_CN
		FROM LCTRE_EVL A
		JOIN LCTRE_EVL_IEM B ON A.EVL_NO = B.EVL_NO
		WHERE A.ESTBLLCTRE_CODE = #{estbllctreCode}
    </select>


    <!-- 4. 강의평가 항목 조회 -->
    <select id="getEvalItemsByEvlNo" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
        SELECT 
            LCTRE_EVL_INNB
            ,EVL_NO
            ,EVL_CN
            ,EVL_SCORE
        FROM LCTRE_EVL_IEM
        WHERE EVL_NO = #{evlNo}
        ORDER BY LCTRE_EVL_INNB
    </select>


    <!-- 5. 강의평가 점수 조회 -->
    <select id="getEvalScoresByEvlNo" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
        SELECT 
			LCTRE_EVL_SN
			,STDNT_NO
			,LCTRE_EVL_INNB
			,EVL_SCORE
			,EVL_CN
        FROM LCTRE_EVL_SCORE
        WHERE LCTRE_EVL_INNB IN (
            SELECT LCTRE_EVL_INNB
            FROM LCTRE_EVL_IEM
            WHERE EVL_NO = #{evlNo}
        )
        ORDER BY LCTRE_EVL_SN
    </select>


    <!-- 6. 강의 시간표 조회 -->
    <select id="getTimetableByEstblCode" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
        SELECT 
            TIMETABLE_NO
			,ESTBLLCTRE_CODE
			,LCTRE_DFK
			,BEGIN_TM
			,END_TM
        FROM LCTRE_TIMETABLE
        WHERE ESTBLLCTRE_CODE = #{estbllctreCode}
        ORDER BY TIMETABLE_NO
    </select>
    
    <!-- 7. 강의 세부 정보 조회 -->
    <select id="getEvlIem" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
        SELECT 
           LCTRE_EVL_INNB
           ,EVL_NO
           ,EVL_CN
           ,EVL_SCORE
        FROM LCTRE_EVL_IEM
        WHERE LCTRE_EVL_INNB = #{lctreEvlInnb}
        ORDER BY LCTRE_EVL_INNB
    </select>

<!-- 학생 -->
	<select id="getAll" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
		SELECT 
			ATNLC_REQST_NO,
			STDNT_NO,
			ESTBLLCTRE_CODE,
			REQST_YEAR,
			REQST_SEMSTR,
			REQST_STTUS,
			REQST_DE,
			RECENT_UPDT_DT
		FROM ATNLC_REQST
	</select>
	
	<select id="getStdAll" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
		SELECT 
			ATNLC_REQST_NO
			,STDNT_NO
			,ESTBLLCTRE_CODE
			,REQST_YEAR
			,REQST_SEMSTR
			,REQST_STTUS
			,REQST_DE
			,RECENT_UPDT_DT
		FROM getStdAll
	</select>
	
	
	<select id="getLectureEvalByStdnt" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
		SELECT
			ATNLC_REQST_NO
			,STDNT_NO
			,ESTBLLCTRE_CODE
			,REQST_YEAR
			,REQST_SEMSTR
			,REQST_STTUS
			,REQST_DE
			,RECENT_UPDT_DT
		FROM ATNLC_REQST
		WHERE STDNT_ID = #{stdntId}
	</select>
	
	<select id="getEvlIemList" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
		SELECT
			ESTBLLCTRE_CODE
			,LCTRE_CODE
			,PROFSR_NO
			,FILE_GROUP_NO
			,ACQS_PNT
			,LCTRUM
			,COMPL_SE
			,ATNLC_NMPR
			,LCTRE_USE_LANG
			,EVL_MTHD
			,ATEND_SCORE_REFLCT_RATE
			,TASK_SCORE_REFLCT_RATE
			,MIDDLE_TEST_SCORE_REFLCT_RATE
			,TRMEND_TEST_SCORE_REFLCT_RATE
			,ESTBL_YEAR
			,ESTBL_SEMSTR
		FROM ESTBL_COURSE
	</select>
	
	
	<select id="getLctreCodeByEstbllctreCode" resultType="string">
	    SELECT LCTRE_CODE 
	    FROM ESTBL_COURSE
	    WHERE ESTBLLCTRE_CODE = #{estbllctreCode}
	</select>

	<select id="getLectureByLctreCode" resultType="kr.ac.collage_api.lecture.vo.LectureVO">
	    SELECT 
	        LCTRE_CODE       AS lctreCode
	        ,SUBJCT_CODE      AS subjctCode
	        ,PRE_LECTURE      AS preLecture
	        ,LCTRE_NM         AS lctreNm
	        ,OPER_AT          AS operAt
	        ,RECENT_UPDT_DT   AS recentUpdtDt
	    FROM ALL_COURSE
	    WHERE LCTRE_CODE = #{lctreCode}
	</select>
	
	<!-- 개설강의코드로 EVL_NO 조회 -->
	<select id="getEvlNoByEstbllctreCode" parameterType="string" resultType="java.lang.Integer">
	    SELECT EVL_NO
	    FROM LCTRE_EVL
	    WHERE ESTBLLCTRE_CODE = #{estbllctreCode}
	</select>

	
		
	<!-- 칼럼: LCTRE_EVL_IEM(LCTRE_EVL_INNB PK, EVL_NO FK, EVL_CN, EVL_SCORE) -->
  <insert id="insertLectureEval" parameterType="map">
    INSERT INTO LCTRE_EVL_IEM
      (LCTRE_EVL_INNB, EVL_NO, EVL_CN, EVL_SCORE)
    VALUES
      ((SELECT NVL(MAX(LCTRE_EVL_INNB),0)+1 FROM LCTRE_EVL_IEM),
       #{lctreEvlInnb},
       #{evlCn},
       #{evlScore})
  </insert>

</mapper>