<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.lecture.mapper.LectureEvlMapper">

    <select id="getProfsrNoByAcntId" resultType="string">
        SELECT P.PROFSR_NO
        FROM ACNT A
        JOIN SKLSTF S ON A.ACNT_ID = S.ACNT_ID
        JOIN PROFSR P ON S.SKLSTF_ID = P.SKLSTF_ID
        WHERE A.ACNT_ID = #{acntId}
    </select>
    
    <select id="getStdntNoByAcntId" resultType="string">
        SELECT S.STDNT_NO
        FROM ACNT A
        JOIN STDNT S ON A.ACNT_ID = S.ACNT_ID
        WHERE A.ACNT_ID = #{acntId}
    </select>

    <select id="getTotalCourseCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM ESTBL_COURSE
        WHERE PROFSR_NO = #{profsrNo}
    </select>

    <select id="getPagedCourses" parameterType="map" resultType="kr.ac.collage_api.lecture.vo.LectureEvlVO">
        SELECT *
        FROM (
            SELECT ROWNUM RNUM, C.*
            FROM (
                SELECT 
                    A.ESTBLLCTRE_CODE, A.LCTRE_CODE
                    ,A.PROFSR_NO, A.ACQS_PNT
                    ,A.LCTRUM, A.COMPL_SE
                    ,A.ATNLC_NMPR, A.LCTRE_USE_LANG
                    ,A.EVL_MTHD
                    ,A.ATEND_SCORE_REFLCT_RATE
                    ,A.TASK_SCORE_REFLCT_RATE
                    ,A.MIDDLE_TEST_SCORE_REFLCT_RATE
                    ,A.TRMEND_TEST_SCORE_REFLCT_RATE
                    ,A.ESTBL_YEAR, A.ESTBL_SEMSTR
                    ,B.LCTRE_NM
                FROM ESTBL_COURSE A
                LEFT JOIN ALL_COURSE B ON A.LCTRE_CODE = B.LCTRE_CODE
                WHERE A.PROFSR_NO = #{profsrNo}
                ORDER BY A.ESTBL_YEAR DESC, A.ESTBL_SEMSTR DESC
            ) C
        )
        WHERE RNUM BETWEEN #{start} + 1 AND #{start} + #{size}
    </select>

    <select id="getEstblCourseById" resultType="kr.ac.collage_api.lecture.vo.LectureEvlVO">
        SELECT 
            E.ESTBLLCTRE_CODE
            ,E.LCTRE_CODE
            ,E.PROFSR_NO
            ,E.ACQS_PNT
            ,E.LCTRUM
            ,E.COMPL_SE
            ,E.ATNLC_NMPR
            ,E.LCTRE_USE_LANG
            ,E.ESTBL_YEAR
            ,E.ESTBL_SEMSTR
            ,C.LCTRE_NM
            ,S.SKLSTF_NM AS PROFSR_NM
        FROM ESTBL_COURSE E
        LEFT JOIN ALL_COURSE C ON E.LCTRE_CODE = C.LCTRE_CODE
        LEFT JOIN PROFSR P ON E.PROFSR_NO = P.PROFSR_NO
        LEFT JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
        WHERE E.ESTBLLCTRE_CODE = #{estbllctreCode}
    </select>

    <select id="getTimetableByEstblCode" resultType="kr.ac.collage_api.lecture.vo.LectureEvlVO">
        SELECT 
            TIMETABLE_NO
            ,ESTBLLCTRE_CODE
            ,LCTRE_DFK
            ,BEGIN_TM
            ,END_TM
        FROM LCTRE_TIMETABLE
        WHERE ESTBLLCTRE_CODE = #{estbllctreCode}
        ORDER BY TIMETABLE_NO
    </select>
    
    <select id="getEvlNoByEstbllctreCode" resultType="java.lang.Integer">
        SELECT EVL_NO 
        FROM LCTRE_EVL
        WHERE ESTBLLCTRE_CODE = #{estbllctreCode}
    </select>

    <select id="getLectureEvalSummary" resultType="kr.ac.collage_api.lecture.vo.LectureEvlVO">
        SELECT 
            I.EVL_CN
            ,ROUND(AVG(S.EVL_SCORE), 2) AS avgScore
            ,COUNT(*) AS evlCnt
        FROM LCTRE_EVL_SCORE S
        JOIN LCTRE_EVL_IEM I ON S.LCTRE_EVL_INNB = I.LCTRE_EVL_INNB
        JOIN LCTRE_EVL E ON I.EVL_NO = E.EVL_NO
        WHERE E.ESTBLLCTRE_CODE = #{estbllctreCode}
        GROUP BY I.LCTRE_EVL_INNB, I.EVL_CN
        ORDER BY I.LCTRE_EVL_INNB
    </select>

    <select id="getLectureEvalScoreCounts" resultType="int">
        SELECT COUNT(*) 
        FROM LCTRE_EVL_SCORE S
        JOIN LCTRE_EVL_IEM I ON S.LCTRE_EVL_INNB = I.LCTRE_EVL_INNB
        JOIN LCTRE_EVL E ON I.EVL_NO = E.EVL_NO
        WHERE E.ESTBLLCTRE_CODE = #{estbllctreCode}
        GROUP BY S.EVL_SCORE
        ORDER BY S.EVL_SCORE
    </select>

    <select id="getAllLecturesByStdntNo" resultType="kr.ac.collage_api.lecture.vo.LectureEvlVO">
        SELECT
            AR.ESTBLLCTRE_CODE
            ,EC.LCTRE_CODE
            ,EC.ESTBL_YEAR
            ,EC.ESTBL_SEMSTR
            ,EC.COMPL_SE
            ,EC.ACQS_PNT
            ,EC.ATNLC_NMPR
            ,EC.LCTRE_USE_LANG
            ,AC.LCTRE_NM
            ,CASE 
                WHEN EXISTS (
                    SELECT 1
                    FROM LCTRE_EVL_SCORE S
                    JOIN LCTRE_EVL_IEM IEM ON S.LCTRE_EVL_INNB = IEM.LCTRE_EVL_INNB
                    JOIN LCTRE_EVL EVL ON IEM.EVL_NO = EVL.EVL_NO
                    WHERE S.STDNT_NO = AR.STDNT_NO
                      AND EVL.ESTBLLCTRE_CODE = AR.ESTBLLCTRE_CODE
                ) THEN 'Y'
                ELSE 'N'
            END AS "evalCompleted" FROM ATNLC_REQST AR
        JOIN ESTBL_COURSE EC ON AR.ESTBLLCTRE_CODE = EC.ESTBLLCTRE_CODE
        JOIN ALL_COURSE AC ON EC.LCTRE_CODE = AC.LCTRE_CODE
        WHERE AR.STDNT_NO = #{stdntNo}
          AND AR.REQST_STTUS = '신청완료' 
          
          ORDER BY EC.ESTBL_YEAR DESC, EC.ESTBL_SEMSTR DESC
    </select>

	<insert id="insertLectureEval" parameterType="map">
	    INSERT INTO LCTRE_EVL_SCORE
	    (LCTRE_EVL_SN, STDNT_NO, LCTRE_EVL_INNB, EVL_SCORE, EVL_CN)
	    VALUES (
	        (SELECT NVL(MAX(TO_NUMBER(LCTRE_EVL_SN)), 0) + 1 FROM LCTRE_EVL_SCORE)
	        ,#{stdntId}
	        ,#{lctreEvlInnb}
	        ,#{evlScore}
	        ,#{evlCn}
	    )
	</insert>
	    

	<insert id="insertLctreEvlMaster" parameterType="map">
	    INSERT INTO LCTRE_EVL (EVL_NO, ESTBLLCTRE_CODE, ALL_EVL_AVRG)
	    VALUES (
	        #{evlNo}
	        ,#{estbllctreCode}
	        ,NULL
	    )
	</insert>
    
    <insert id="insertLctreEvlIem" parameterType="map">
        INSERT INTO LCTRE_EVL_IEM (LCTRE_EVL_INNB, EVL_NO, EVL_CN)
        VALUES (
            (SELECT NVL(MAX(LCTRE_EVL_INNB), 0) + 1 FROM LCTRE_EVL_IEM)
            ,#{evlNo}
            ,#{evlCn}
        )
    </insert>
    
    <select id="getNextEvlNo" resultType="int">
        SELECT NVL(MAX(EVL_NO), 0) + 1 FROM LCTRE_EVL
    </select>

</mapper>