<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.security.mapper.SecurityMapper">
    <resultMap type="acntVO" id="acntMap">
        <result property="acntId" column="ACNT_ID"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO"/>
        <result property="password" column="PASSWORD"/>
        <result property="acntTy" column="ACNT_TY"/>
        <association property="authorVOList" resultMap="authorMap" />
    </resultMap>

    <resultMap type="authorVO" id="authorMap">
        <result property="authorId" column="AUTHOR_ID"/>
        <result property="authorNm" column="AUTHOR_NM"/>
        <result property="authorDc" column="AUTHOR_DC"/>
        <result property="acntId" column="ACNT_ID"/>
        <result property="alwncDe" column="ALWNC_DE"/>
    </resultMap>

    <select id="findAcnt" parameterType="String" resultMap="acntMap">
        SELECT                                  /* kr.ac.collage_api.security.mapper.SecurityMapper.findAcnt */
            ac.acnt_id,                         /* 계정 id */
            ac.password,                        /* 비밀번호 */
            ac.acnt_ty,                         /* 계정 유형 */
            auth.author_nm,                     /* 권한 명 */
            auth.ALWNC_DE                       /* 부여일자 */
        FROM acnt ac
        INNER JOIN author auth
            ON ac.acnt_id = auth.acnt_id
        WHERE ac.acnt_id = #{username}
    </select>

    <select id="findStudentName" resultType="String">
        SELECT                      /* kr.ac.collage_api.security.mapper.SecurityMapper.findStudentName */
            stdnt_nm                /* 학생 명 */
        FROM stdnt
        WHERE stdnt_no = #{id}
    </select>

    <select id="findStaffName" resultType="String">
        SELECT                      /* kr.ac.collage_api.security.mapper.SecurityMapper.findStudentName */
            sklstf_nm               /* 교직원 명 */
        FROM sklstf
        WHERE sklstf_id = #{id}
    </select>

    <select id="findStudentSubjct" resultType="String">
        SELECT                      /* kr.ac.collage_api.security.mapper.SecurityMapper.findStudentSubjct */
            subjct_nm               /* 학과 명 */
        FROM subjct
        WHERE subjct_code = (
            SELECT
                subjct_code
            FROM stdnt
            WHERE STDNT_NO = #{id}
            )
    </select>

    <select id="findProfSubjct" resultType="String">
        SELECT                  /* kr.ac.collage_api.security.mapper.SecurityMapper.findProfSubjct */
            subjct_nm           /* 학과 명 */
        FROM subjct
        WHERE subjct_code = (
            SELECT
                subjct_code
            FROM profsr
            WHERE profsr_no = #{id}
            )
    </select>
</mapper>