<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.stdnt.mapper.StdntMapper">

<resultMap id="stdntResultMap" type="kr.ac.collage_api.vo.StdntVO">
            <id property="stdntNo" column="STDNT_NO"/>
            <result property="stdntName" column="STDNT_NM"/>
</resultMap>

	<select id="selectStdntInfo" parameterType="string" resultMap="stdntResultMap">
		SELECT
			STDNT_NO,
			ACNT_ID,
			SUBJCT_CODE,
			STDNT_NM,
			BRTHDY,
			BASS_ADRES,
			DETAIL_ADRES,
			ZIP,
			CTTPC,
			EMGNC_CTTPC,
			GRADE,
			SKNRGS_STTUS,
			ENTSCH_DE,
			GRDTN_DE,
			BANK_NM,
			ACNUTNO,
			LAST_UPDATED_TIME
		FROM
			STDNT  
		WHERE
			STDNT_NO = #{stdntNo}
	</select>
	
	<select id="selectStdntInfoByName" parameterType="string" resultMap="stdntResultMap">
        SELECT
            STDNT_NO,
			ACNT_ID,
			SUBJCT_CODE,
			STDNT_NM,
			BRTHDY,
			BASS_ADRES,
			DETAIL_ADRES,
			ZIP,
			CTTPC,
			EMGNC_CTTPC,
			GRADE,
			SKNRGS_STTUS,
			ENTSCH_DE,
			GRDTN_DE,
			BANK_NM,
			ACNUTNO,
			LAST_UPDATED_TIME
        FROM
            STDNT
        WHERE
            STDNT_NM = #{stdntNm}
    </select>
    
    <select id="findStdntByAcntId" resultType="kr.ac.collage_api.vo.StdntVO">
		SELECT
	        STDNT_NO,
	        STDNT_NM, 
	        ACNT_ID, 
	        SKNRGS_STTUS
	    FROM
	        STDNT
	    WHERE
	        ACNT_ID = #{acntId}
    </select>
</mapper>