<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.collage_api.admin.mapper.UnivMapper">
	
	<!-- 단과대 -->
	<select id="findAllUniv" resultType="kr.ac.collage_api.vo.UnivVO">
		SELECT
            U.UNIV_CODE
	        , U.PROFSR_NO
	        , U.UNIV_NM
	        , U.BULD_LC
	        , U.UNIV_TELNO
	        , U.FOND_YEAR
	        , U.OPER_STTUS
	        , U.RECENT_UPDT_DT
            , S.SKLSTF_NM AS prexNm
	        , C.CODE_NM AS buldNm
        FROM
            UNIV U
	        LEFT JOIN PROFSR P ON U.PROFSR_NO = P.PROFSR_NO
	        LEFT JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
	        LEFT JOIN CMMN_CODE C ON U.BULD_LC = C.CODE_NO
        WHERE
            OPER_STTUS = '1'
        	ORDER BY U.BULD_LC DESC
	</select>
	
	<!-- 학과 -->
	<select id="findAllSubjct" resultType="kr.ac.collage_api.vo.SubjctVO">
		SELECT
			SB.SUBJCT_CODE
			,SB.UNIV_CODE
			,SB.SUBJCT_NM
			,SB.SUBJCT_TELNO
			,SB.SUBJCT_LC
			,SB.FONDYEAR
			,SB.OPER_STTUS
			,SB.RECENT_UPDT_DT
			,SB.SUBJCT_CHPT
			,S.SKLSTF_NM AS deanNm
			,C.CODE_NM AS buldNm
		FROM
			SUBJCT SB
			LEFT JOIN PROFSR P ON SB.SUBJCT_CHPT = P.PROFSR_NO
			LEFT JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
			LEFT JOIN CMMN_CODE C ON SB.SUBJCT_LC = C.CODE_NO
		WHERE 
			OPER_STTUS = '1'
	</select>
	
	<!-- 학장후보 -->
	<select id="findProfsrByUniv" resultType="kr.ac.collage_api.vo.ProfsrVO">
	  SELECT 
		P.PROFSR_NO
		,P.SKLSTF_ID
		,P.SUBJCT_CODE
		,P.CLSF
		,SB.SUBJCT_NM
		,S.SKLSTF_NM 
	  FROM 
	    PROFSR P
	    LEFT JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
	    LEFT JOIN SUBJCT SB ON P.SUBJCT_CODE = SB.SUBJCT_CODE
	    LEFT JOIN UNIV U ON SB.UNIV_CODE = U.UNIV_CODE
	  WHERE 
	    U.UNIV_CODE = #{univCode}
	  AND P.CLSF = '정교수'
	</select>

		
	<!-- 학과장후보 -->
	<select id="findProfsrBySubjct" resultType="kr.ac.collage_api.vo.ProfsrVO">
	  SELECT 
		P.PROFSR_NO
	  	,P.SKLSTF_ID
	  	,P.SUBJCT_CODE
	  	,P.CLSF
	  	,SB.SUBJCT_NM
	  	,S.SKLSTF_NM 
	  FROM 
	  	PROFSR P
		LEFT JOIN SKLSTF S ON P.SKLSTF_ID = S.SKLSTF_ID
		LEFT JOIN SUBJCT SB ON P.SUBJCT_CODE = SB.SUBJCT_CODE
	  WHERE 
	  	P.SUBJCT_CODE = #{subjctCode}
	  AND P.CLSF = '부교수'
	</select>
</mapper>