@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 5%;
}

main {
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 280px;
    height: 100%;
}

#main-container {
    height: 100%;
    border-color: gold;
}

footer {
    width: 100vw;
    height: 9%;
}