<<<<<<< HEAD
@charset "UTF-8";

=======
>>>>>>> 26a4290 (please)
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 5%;
}

main {
<<<<<<< HEAD
    width: 100%;
=======
    width: 99vw;
>>>>>>> 26a4290 (please)
    height: 100%;
}

#sidebar {
    width: 280px;
    height: 100%;
}

#main-container {
    height: 100%;
    border-color: gold;
}

footer {
    width: 100vw;
    height: 9%;
<<<<<<< HEAD
}


/* syw */
.btn-toggle-nav a {
    display: block;
    padding: 5px 0 5px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
}

.btn-toggle-nav a:hover,
.active-link {
    background-color: #1b2836;
    color: #fff !important;
    border-radius: 6px;
}

/* ✅ 메인 콘텐츠 */
.content-area {
    background-color: #ffffff;
    flex-grow: 1;
    padding: 40px;
    min-height: 100vh;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.section-title {
    font-weight: 600;
    margin-bottom: 20px;
=======
>>>>>>> 26a4290 (please)
}