@charset "UTF-8";

body {
    background-color: #f1f3f6;
    font-family: "Noto Sans KR", sans-serif;
}

/* ✅ 사이드바 스타일 */
.sidebar {
    width: 260px;
    background-color: #293d78;
    color: white;
    min-height: 100vh;
    border-right: 1px solid #55539f;
    padding: 20px;
}

.sidebar h5 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
}

.sidebar .btn-toggle {
    color: #e1d4ff;
    font-weight: 600;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.sidebar .btn-toggle:hover {
    background-color: #1b2836;
    border-radius: 6px;
}

.btn-toggle-nav a {
    display: block;
    padding: 5px 0 5px 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.95rem;
}

.btn-toggle-nav a:hover,
.active-link {
    background-color: #1b2836;
    color: #fff !important;
    border-radius: 6px;
}

/* ✅ 메인 콘텐츠 */
.content-area {
    background-color: #ffffff;
    flex-grow: 1;
    padding: 40px;
    min-height: 100vh;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.section-title {
    font-weight: 600;
    margin-bottom: 20px;
}